// =============================== Header ===========================

.header {
    background: $main-color;
    color: $white-color;
    &__wrapper {
        &_bottom {
            background-color: #4d525f;
        }
    }
}

.top-nav {
    margin-bottom: 0;
    padding: 0;
    &__item {
        display: inline-block;
        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 20px;
            right: -2px;
            width: 1px;
            bottom: 20px;
            background: url('../img/nav-separator.png') no-repeat;
        }
        &:last-child:after { display: none; }
        .child {
            display: none;
        }
    }
    &__link {
        font-weight: 100;
        color: rgba($white-color, .7);
        display: block;
        padding: 20px 30px;
        border-bottom: 3px solid rgba($green-color, 0);
        transition: .2s;
        &:hover, &:focus, &:visited {
            cursor: pointer;
            color: $white-color;
            text-decoration: none;
            border-color: $green-color;
        }
    }
    &__item.active {
        .top-nav__link {
            color: $green-color;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: 3px;
            left: 50%;
            margin-left: -5px;
            z-index: 99;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 8px 8px 8px;
            border-color: transparent transparent $green-color transparent;
            transition: .2s;
        }
        .child {
            border-top: 3px solid $green-color;
            display: block;
            position: absolute;
            padding: 0;
            margin: 0;
            margin-top: -3px;
            z-index: 22;
            background: lighten($main-color, 7%);
            animation-duration: .5s;
            &__item {
                list-style: none;
                text-align: left;
                white-space: nowrap;
            }
            &__link {
                font-weight: 100;
                color: rgba($white-color, .7);
                display: block;
                padding: 10px 50px 10px 30px;
                background: rgba($green-color, 0);
                transition: .2s;
                &:hover, &:focus, &:visited {
                    cursor: pointer;
                    color: $white-color;
                    text-decoration: none;
                    background: $green-color;
                }
            }
        }
    }
}

.lang-nav {
    display: inline;
    margin-bottom: 0;
    margin-right: -4px;
    position: relative;
    padding: 0;
    &__item {
        display: none;
        list-style: none;
    }
    &__link {
        display: block;
        padding: 21px 10px;
        color: rgba($white-color, .7);
        background: transparent;
        transition: .2s;
        font-weight: 100;
        &:hover, &:focus, &:visited {
            text-decoration: none;
            color: $white-color;
            background: darken($main-color, 4%);
        }
    }
    &__image {
        position: relative;
        top: -1px;
        margin-right: 5px;
    }
    .active {
        display: inline-block;
    }
}

.cabinet {
    white-space: nowrap;
    color: rgba($white-color, .7);
    font-weight: 100;
    padding: 22px 10px;
    &__image {
        position: relative;
        top: -1px;
        margin-right: 5px;
    }
    &:hover {
        color: $white-color;
        text-decoration: none;
        background: darken($main-color, 4%);
    }
}

// =============================== Global section style ===========================

.section {
    padding-top: 38px;
    &__title {
        text-align: center;
        font-weight: 900;
        text-transform: uppercase;
        color: $main-color;
        margin-bottom: 40px;
    }
}

// =============================== CATEGORY ===========================

.category {
    padding-bottom: 45px;
    &__link {
        display: block;
        background-position: center center;
        background-size: cover;
        min-height: 275px;
        &_big {
            min-height: 563px;
        }
        &:hover {
            text-decoration: none;
        }
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__right {
        display:flex;
        width: 75%;
        flex-wrap:wrap;
    }
    &__single {
        padding: 0 5px;
        
        &_1 {
            width: 25%;
        
        }
        &_2 {
            width: 70%;
        
        }
        &_3 {
            width: 30%;
        
        }
        &_4 {
            width: 35%;
    
        }
        &_5 {
            width: 40%;
        
        }
        &_6 {
            width: 25%;
        
        }
    }
    &__title {
        text-align: center;
        padding-top: 30px;
        font-size: 30px;
        font-weight:900;
        &_light {
            color:$white-color;
        }
        &_dark {
            color: #4a5662;
        }
    }
}

// =============================== S1 ===========================

.s1 {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center center;
    padding: 40px 0 80px;
    &__title {
        color: $white-color;
        margin: 20px 0 10px;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
    &__desc {
        color: $white-color;
        font-size: 18px;
        font-weight: 100;
        text-align: center;
    }
    &__button {
        @include button($red-color);
        &__image {
            position: relative;
            top: -2px;
            margin-left: 10px;
        }
    }
}

.logo_gofriends {
    margin-top: 15px;
}

.form__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.s1-form {
    display: flex;
    margin-right: 40px;
    &__input {
        border: none;
        width: 250px;
        padding: 9px 20px;
    }
    &__button {
        border: none;
        width: 56px;
        background: $green-color;
        transition: .2s;
        &:hover {
            background: darken($green-color, 10%);
        }
    }
    &__input,
    &__button {
        &:hover,
        &:focus {
            outline: none;
        }
    }
}

.middle-nav {
    margin-bottom: 0;
    padding-left: 0;
    text-align: center;
    &_bg {
        background-color: $light-grey-color;
    }
    &_left {
        text-align: left;
    }
    &__item {
        list-style: none;
        display: inline-block;
    }
    &__link {
        color: #c9cfdd;
        padding: 20px 30px;  
        font-weight: 700;
        display: block;
        text-transform: uppercase;
        filter: grayscale(1);
        transition: .2s;
        border-bottom: 7px solid transparent;
        .header-bot &:hover,.header-bot &:focus {
            border-bottom: 7px solid $green-color;
            background:inherit;
            color:#c9cfdd;
        }
        &:hover,
        &:focus {
            background: rgba($main-color, .2);
            color: $green-color;
            text-decoration: none;
            filter: grayscale(0);
        }
    }
    &__image {
        position: relative;
        margin-top: -3px;
        margin-right: 5px;
    }
}

.header-bot {
    
}

// =============================== S2 ===========================

.s2 {
    background: $main-color-light;
    &__wrapper {
        display: flex;
        justify-content: center;
    }
    &__link {
        color: $main-color;
        display: block;
        position: relative;
        padding: 20px 40px 16px;
        transition: .2s;
        opacity: .5;
        color: #c9cfdd;
        font-weight:900;
        text-transform: uppercase;
        color:$main-color;
        border-bottom: 4px solid transparent;
        &:hover {
            color: $main-color;
            text-decoration: none;
            opacity: 1;
            border-color: $main-color;
        }
    }
    .active {
        color: $main-color;
        text-decoration: none;
        opacity: 1;
        border-color: $main-color;
    }
    &__image {
        position: relative;
        margin-top: -2px;
        margin-right: 5px;
    }
}

// =============================== S3 products ===========================

.s3 {
    padding: 30px 0;
    .container-fluid {
        max-width: 1490px;
    }
    &__button {
        @include button($red-color);
    }
}

.product-flex {
    display: flex;
    flex-wrap: wrap;
}

.product-cart {
    margin-bottom: 30px;
    position: relative;
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    &__image {
        height: 350px;
        background-size: cover;
        background-position: top center;
    }
    &__body {
        background: lighten($main-color, 30%);
        display: flex;
        min-height: 56px;
        justify-content: space-between;
        align-items: center;
        &-left, &-right { padding: 7px 10px; }
        &-left {
            //width: 60%;
        }
        &-right {
            //width: 40%;
            flex-basis: 100%;
            text-align: right;
            position: relative;
            /****** Style Star Rating Widget *****/
            @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

            label { margin-bottom: 0; }
            .rating { border: none; }

            .rating > input { display: none; }
            .rating > label:before {
                margin-left: 5px;
                font-size: 16px;
                font-family: FontAwesome;
                display: inline-block;
                content: "\f005";
            }

            .rating > .half:before {
                content: "\f089";
                position: absolute;
            }

            .rating > label {
                color: #ddd;
                float: right;
            }

            /***** CSS Magic to Highlight Stars on Hover *****/

            .rating > input:checked ~ label
            //.rating:not(:checked) > label:hover,
            //.rating:not(:checked) > label:hover ~ label
            { color: #FFD700;  }

            //.rating > input:checked + label:hover,
            //.rating > input:checked ~ label:hover,
            //.rating > label:hover ~ input:checked ~ label,
            //.rating > input:checked ~ label:hover ~ label
            //{ color: #FFED85;  }

        }
    }
    &__title {
        color: $white-color;
        margin: 0;
        font-size: 18px;
        font-weight: 700;
    }
    &__footer {
        background: lighten($main-color, 12%);
        display: flex;
        align-items: center;
        flex-grow: 1;
        margin-top: auto;
        color: $white-color;
        &-left, &-right { padding: 7px 10px; }
        &-left {
            width: 50%;
            margin-top: auto;
            .row:first-child {
                margin-bottom: 8px;
                padding: 3px 0;
            }
        }
        &-right {
            margin-top: auto;
            width: 50%;
            font-size: 18px;
            font-weight: 700;
            text-align: right;
        }
    }
    &__favorite {
        position: relative;
        display: inline-block;
        top: -2px;
        filter: grayscale(1) brightness(4);
        transition: .2s;
        z-index: 12;
        img { margin-right: 5px; }
        &:hover {
            filter: grayscale(0);
            transform: scale(1.2);
        }
    }
    &__icon {
        position: relative;
        margin-top: -2px;
        margin-right: 5px;
    }
    &__favorite.active { filter: grayscale(0); }
    &__link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        &:hover {
            cursor: pointer;
        }
    }
}

// =============================== S4 ===========================

.s4 {
    padding: 40px 0;
    &__title {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        color: $main-color;
    }
}

.comp {
    position: relative;
    &__image {
        width: 100%;
        max-width: 750px;
        height: auto;
    }
    &__text {
        width: 200px;
        height: 120px;
        overflow: hidden;
        position: absolute;
        &-1, &-2, &-3 {
            text-align: right;
            left: -10px;
        }
        &-1 { top: 3px; .comp__title { color: #ff5a5a; }}
        &-2 { top: 136px; .comp__title { color: #29eb91; } }
        &-3 { top: 265px; .comp__title { color: #ffa772; } }
        &-4, &-5, &-6 {
            text-align: left;
            right: -10px;
        }
        &-4 { top: 3px; .comp__title { color: #68baff; } }
        &-5 { top: 138px; .comp__title { color: #9171ff; } }
        &-6 { top: 295px; height:200px; }
    }
    &__title {
        font-weight: 700;
        font-size: 20px;
        span {
            display: block;
        }
    }
    &__desc {
        font-size: 14px;
        font-weight: 700;
    }
    &__supertitle {
        font-size: 30px;
        font-weight: 700;
        color: $main-color; 
        &_inner {
            color:#29eb91;
        }
    }
}

// =============================== S5 ===========================

.s5 {
    padding: 40px 0;
    &__item {
        padding: 0 60px;
    }
    &__image {}
    &__title {
        color: $main-color;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 40px 0;
    }
    &__text {
        color: rgba($main-color, .8);
        font-size: 16px;
        font-weight: 100;
    }
}

// =============================== S6 ===========================

.s6 {
    background: radial-gradient(lighten($main-color, 10%), $main-color);
    overflow: hidden;
    &__title {
        color: $white-color;
        text-align: center;
        margin-top: 50px;
        font-weight: 700;
        font-size: 30px;
    }
    &__phone {
        transform: translateY(200px);
        //min-height: 550px;
    }
}
.s6__left {
    flex-direction: row-reverse;
    .s6__item-icon {
        min-width: 40px;
        margin-left: 20px;
        text-align: center;
    }
}
.s6__right {
    .s6__item-icon {
        min-width: 40px;
        margin-right: 20px;
        text-align: center;
    }
}
.s6__items {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.s6__item {
    &-title {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: $white-color;
    }
    &-text {
        color: $main-color-light;
        font-size: 16px;
    }
}

// =============================== S8 ===========================

.s8 {
    background: rgba($main-color, .02);
    padding: 40px 0;
    background-size:cover;
    background-position: top center;
    &__items-wrapper {
        position: relative;
    }
    &__item {
        text-align: center;
    }
    &__image {
        width: 135px;
        height: 135px;
        background-position: center center;
        background-size: cover;
        border-radius: 50%;
        position: relative;
        margin: 0 auto;
    }
    &__name {
        margin-bottom: 20px;
        font-size: 24px;
        color: $main-color;
        font-weight: 700;
    }
    &__text {
        font-size: 18px;
        color: rgba($main-color, 1);
        line-height: 20px;
        font-weight: 100;
    }
    &__left,
    &__right {
        width: 55px;
        height: 55px;
        background: $main-color-light;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s;
        position: absolute;
        &:hover {
            background: $main-color;
        }
    }
    &__left { left: 0; top: 50%; transform: translate3d(-140%,100%,0); }
    &__right { right: 0; top: 50%; transform: translate3d(140%,100%,0); }
}

// =============================== S9 ===========================

.s9 {
    background: rgba($main-color, .02);
    padding: 30px;
    .container-fluid {
        max-width: 1500px;
    }
    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        color: $main-color;
    }
    &__button {
        @include button(lighten($main-color, 15%));
    }
}

.video {
    padding: 8px;
    background: lighten($main-color, 15%);
    position: relative;
    transition: .2s;
    &__date {
        display: block;
        position: absolute;
        left: 8px;
        top: 30px;
        background: lighten($main-color, 15%);
        padding: 5px 10px;
        color: rgba($white-color, .8);
        transition: .2s;
    }
    &__body {
        height: 310px;
        background-size: cover;
        background-position: center center;
    }
    &__footer {
        color: rgba($white-color, .8);
        font-size: 18px;
        font-weight: 100;
        padding: 10px 5px;
    }
    &__link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
.video.active {
    background: $green-color;
    .video__date { background: $green-color; }
}

// =============================== S10 ===========================

.s10 {
    background: $main-color-light;
    padding: 30px 0;
    &__title {
        color: $main-color;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
    }
    &__form {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    &__input {
        outline: none;
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        margin-right: 30px;
        width: 270px;
    }
    &__button {
        @include button($green-color);
    }
}

// =============================== prefooter ===========================

.prefooter {
    background: darken($main-color, 7%);
    padding: 30px 0;
    border-bottom: 1px solid lighten($main-color, 7%);
    &__nav {
        display: flex;
    }
    &__title {
        color: $white-color;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__list {
        padding: 0;
        transition : all .4s;
        overflow: hidden;
    }
    &__item {
        list-style: none;
    }
    &__link {
        color: rgba($white-color, .5);
        padding: 7px 0;
        display: block;
        font-weight: 100;
        transition: .2s;
        &:hover {
            color: $white-color;
            text-decoration: none;
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background: darken($main-color, 7%);
    &__link {
        margin: 0 10px;
        opacity: .5;
        transition: .2s;
        &:hover {
            opacity: 1;
        }
    }
}

.accordeon {
    
    &__button {
        border:none;
        outline:none;

        padding: 10px;
        background: transparent;
        border-radius:50%;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.5);
        transition: all .3s;
        &:hover {
            color: $green-color;
        }
    }
}
.phone{
    &__wrapper{
        position: absolute;
        bottom: 0;
        right: calc(50% - 541px/2);
    }
}
.row{
    position: relative;
}