.header {
  &__wrapper {
    display: block;
    .align-right,
    .align-left {
      text-align: center;
    }
  }
}

.s1-form {
  margin-right: 0;
}

.logo_gofriends {
  margin-top: 10px;
}

.form__wrapper {
  flex-direction: column;
  padding: 0 15px;
}

.s1-form__input {
  width: 100%;
}

.s1__button {
  width: 100%;
  margin-top: 15px;
  text-align: center;
}

.middle-nav__item {
  display: inline-block;
  width: 30%;
}

.middle-nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 16px;
}

.middle-nav__image {
  margin-bottom: 10px;
}

.s2__wrapper {
  display: block;
  text-align: center;
}

.s2__link {
  width: 49%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px 16px;
}

.product-cart {
  width: 100%;
}

.product-cart__body-left {
  width: 55%;
}

.product-cart__body-right {
  width: 45%;
}

.s5__title {
  margin: 20px 0;
}

.s6 {
  .align-right {
    text-align: left;
  }
  &__left {
    flex-direction: row;
  }
}

.s6__left .s6__item-icon {
  margin-right: 20px;
  margin-left: 0;
}

.s6__phone {
  margin-left: -34px;
  max-width: 230px;
  margin-top: -60px;
}

.s8__right {
  right: 50%;
  top: auto;
  bottom: -60px;
  transform: translate3d(110%, 0, 0);
}

.s8__left {
  left: 50%;
  top: auto;
  bottom: -60px;
  transform: translate3d(-110%, 0, 0);
}

.s10__form {
  flex-direction: column;
}

.s10__input {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.prefooter__nav {
  display: block;
}

.category {
  &__right {
    width: 100%;
  }
  &__single {
    width: 100%;
  }
  &__link {
    &_big {
      min-height: 275px;
    }
  }
}

.gallery {
  margin-top: 10ex;
  .single-product-s3 {
    &__gallery {
      width: 100%;
      margin: 0;
      &-wrapper {
        & a {
          width: 50%;
        }
      }
    }
  }
}

.single-product-s1__wrapp {
  display: block;
}

.single-product-s1__img {
  height: auto;
}

.social {
  &-login {
    &-container {
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      justify-content: space-between;
    }
    &-button {
      flex-basis: 100%;
      text-align: center;
      max-width: 380px;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
}

.phone {
  &__wrapper {
    position: relative;
    bottom: inherit;
    right: inherit;
  }
}

.sp__benefit {
  width: 100%;
}

.single-product-s4__btn-wrapper {
  display: block;
  width: 100%;

}

.single-product-s4__button-1, .single-product-s4__button-2, .single-product-s4__button-3 {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}



.single-product-s4__comment__text-footer{
  display: block;
}

.reviews {
  flex-wrap: wrap;
  &:nth-child(even) {
    flex-direction: row;
    .reviews__text {
      margin-right: 0;
    }
  }
  &:nth-child(odd) {
    flex-direction: row;
    .reviews__text {
      margin-left: 0;
    }
  }
  margin-bottom: 20px;
  &__img {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    img {
      max-width: 100%;
    }
  }
  &__text {
    margin-top: 0;
    width: 100%;
  }
}
.profile{
  &__button{
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
  }
  &__button-wrapper{
    flex-wrap: wrap;
  }
}