.features {
  &__input {
    display: block;
    width: 100%;
    text-align: left;
    padding: 20px;
    border: 1px solid #a6a6a6;
    background: transparent;
  }
  &__btn {
    @include button($green-color);
    display: block;
    width: 100%;
    text-align: center;
    background-color: #33b185;
    color: $white-color;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
  }
  &__minitext {
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    font-family: ProximaNova;
    font-weight: 100;
  }
  &__wrapper {
    max-width: 800px;
    margin: 0 auto;
    &-mini {
      max-width: 440px;
    }
  }
  text-align: center;
  &__text {
    text-transform: uppercase;
    font-family: ProximaNova;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
  }
  margin-top: 20px;
}

.partners {
  &__wrapper {
    background-image: url(/img/partners_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 120px;
  }
}

.reviews {
  width: 100%;
  display: flex;
  &:nth-child(even) {
    flex-direction: row-reverse;
    .reviews__text {
      margin-right: 3%;
    }
  }
  &:nth-child(odd) {
    flex-direction: row;
    .reviews__text {
      margin-left: 3%;
    }
  }
  margin-bottom: 60px;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 70px 0px 0px 0px;
  }
  &__img {
    width: 47%;
    img {
      max-width: 100%;
    }
  }
  &__text {
    margin-top: 20px;
    width: 50%;
  }
}