@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

::-moz-selection {
  background: rgba(51, 177, 133, 0.5);
}

::selection {
  background: rgba(51, 177, 133, 0.5);
}

* {
  font-family: "ProximaNova", Serif;
}

.container-fluid {
  max-width: 1920px;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.header {
  background: #393d45;
  color: #fff;
}

.header__wrapper_bottom {
  background-color: #4d525f;
}

.top-nav {
  margin-bottom: 0;
  padding: 0;
}

.top-nav__item {
  display: inline-block;
  position: relative;
}

.top-nav__item:after {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  right: -2px;
  width: 1px;
  bottom: 20px;
  background: url("../img/nav-separator.png") no-repeat;
}

.top-nav__item:last-child:after {
  display: none;
}

.top-nav__item .child {
  display: none;
}

.top-nav__link {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  padding: 20px 30px;
  border-bottom: 3px solid rgba(51, 177, 133, 0);
  -webkit-transition: .2s;
  transition: .2s;
}

.top-nav__link:hover, .top-nav__link:focus, .top-nav__link:visited {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  border-color: #33b185;
}

.top-nav__item.active .top-nav__link {
  color: #33b185;
}

.top-nav__item.active:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -5px;
  z-index: 99;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #33b185 transparent;
  -webkit-transition: .2s;
  transition: .2s;
}

.top-nav__item.active .child {
  border-top: 3px solid #33b185;
  display: block;
  position: absolute;
  padding: 0;
  margin: 0;
  margin-top: -3px;
  z-index: 22;
  background: #494e59;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.top-nav__item.active .child__item {
  list-style: none;
  text-align: left;
  white-space: nowrap;
}

.top-nav__item.active .child__link {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  padding: 10px 50px 10px 30px;
  background: rgba(51, 177, 133, 0);
  -webkit-transition: .2s;
  transition: .2s;
}

.top-nav__item.active .child__link:hover, .top-nav__item.active .child__link:focus, .top-nav__item.active .child__link:visited {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background: #33b185;
}

.lang-nav {
  display: inline;
  margin-bottom: 0;
  margin-right: -4px;
  position: relative;
  padding: 0;
}

.lang-nav__item {
  display: none;
  list-style: none;
}

.lang-nav__link {
  display: block;
  padding: 21px 10px;
  color: rgba(255, 255, 255, 0.7);
  background: transparent;
  -webkit-transition: .2s;
  transition: .2s;
  font-weight: 100;
}

.lang-nav__link:hover, .lang-nav__link:focus, .lang-nav__link:visited {
  text-decoration: none;
  color: #fff;
  background: #30333a;
}

.lang-nav__image {
  position: relative;
  top: -1px;
  margin-right: 5px;
}

.lang-nav .active {
  display: inline-block;
}

.cabinet {
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 100;
  padding: 22px 10px;
}

.cabinet__image {
  position: relative;
  top: -1px;
  margin-right: 5px;
}

.cabinet:hover {
  color: #fff;
  text-decoration: none;
  background: #30333a;
}

.section {
  padding-top: 38px;
}

.section__title {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  color: #393d45;
  margin-bottom: 40px;
}

.category {
  padding-bottom: 45px;
}

.category__link {
  display: block;
  background-position: center center;
  background-size: cover;
  min-height: 275px;
}

.category__link_big {
  min-height: 563px;
}

.category__link:hover {
  text-decoration: none;
}

.category__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.category__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.category__single {
  padding: 0 5px;
}

.category__single_1 {
  width: 25%;
}

.category__single_2 {
  width: 70%;
}

.category__single_3 {
  width: 30%;
}

.category__single_4 {
  width: 35%;
}

.category__single_5 {
  width: 40%;
}

.category__single_6 {
  width: 25%;
}

.category__title {
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
  font-weight: 900;
}

.category__title_light {
  color: #fff;
}

.category__title_dark {
  color: #4a5662;
}

.s1 {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center center;
  padding: 40px 0 80px;
}

.s1__title {
  color: #fff;
  margin: 20px 0 10px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.s1__desc {
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
}

.s1__button {
  padding: 15px 30px;
  background: #d4495a;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.s1__button:hover, .s1__button:active, .s1__button:focus {
  background: #bd2d3e;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .s1__button {
    padding: 10px 30px;
  }
}

.s1__button__image {
  position: relative;
  top: -2px;
  margin-left: 10px;
}

.logo_gofriends {
  margin-top: 15px;
}

.form__wrapper {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.s1-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
}

.s1-form__input {
  border: none;
  width: 250px;
  padding: 9px 20px;
}

.s1-form__button {
  border: none;
  width: 56px;
  background: #33b185;
  -webkit-transition: .2s;
  transition: .2s;
}

.s1-form__button:hover {
  background: #288967;
}

.s1-form__input:hover, .s1-form__input:focus, .s1-form__button:hover, .s1-form__button:focus {
  outline: none;
}

.middle-nav {
  margin-bottom: 0;
  padding-left: 0;
  text-align: center;
}

.middle-nav_bg {
  background-color: #4d525f;
}

.middle-nav_left {
  text-align: left;
}

.middle-nav__item {
  list-style: none;
  display: inline-block;
}

.middle-nav__link {
  color: #c9cfdd;
  padding: 20px 30px;
  font-weight: 700;
  display: block;
  text-transform: uppercase;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .2s;
  transition: .2s;
  border-bottom: 7px solid transparent;
}

.header-bot .middle-nav__link:hover, .header-bot .middle-nav__link:focus {
  border-bottom: 7px solid #33b185;
  background: inherit;
  color: #c9cfdd;
}

.middle-nav__link:hover, .middle-nav__link:focus {
  background: rgba(57, 61, 69, 0.2);
  color: #33b185;
  text-decoration: none;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.middle-nav__image {
  position: relative;
  margin-top: -3px;
  margin-right: 5px;
}

.s2 {
  background: #ccd1dd;
}

.s2__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.s2__link {
  color: #393d45;
  display: block;
  position: relative;
  padding: 20px 40px 16px;
  -webkit-transition: .2s;
  transition: .2s;
  opacity: .5;
  color: #c9cfdd;
  font-weight: 900;
  text-transform: uppercase;
  color: #393d45;
  border-bottom: 4px solid transparent;
}

.s2__link:hover {
  color: #393d45;
  text-decoration: none;
  opacity: 1;
  border-color: #393d45;
}

.s2 .active {
  color: #393d45;
  text-decoration: none;
  opacity: 1;
  border-color: #393d45;
}

.s2__image {
  position: relative;
  margin-top: -2px;
  margin-right: 5px;
}

.s3 {
  padding: 30px 0;
}

.s3 .container-fluid {
  max-width: 1490px;
}

.s3__button {
  padding: 15px 30px;
  background: #d4495a;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.s3__button:hover, .s3__button:active, .s3__button:focus {
  background: #bd2d3e;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .s3__button {
    padding: 10px 30px;
  }
}

.product-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.product-cart {
  margin-bottom: 30px;
  position: relative;
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 8px;
}

.product-cart__image {
  height: 350px;
  background-size: cover;
  background-position: top center;
}

.product-cart__body {
  background: #818897;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 56px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-cart__body-left, .product-cart__body-right {
  padding: 7px 10px;
}

.product-cart__body-right {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  text-align: right;
  position: relative;
  /****** Style Star Rating Widget *****/
  /***** CSS Magic to Highlight Stars on Hover *****/
}

.product-cart__body-right label {
  margin-bottom: 0;
}

.product-cart__body-right .rating {
  border: none;
}

.product-cart__body-right .rating > input {
  display: none;
}

.product-cart__body-right .rating > label:before {
  margin-left: 5px;
  font-size: 16px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.product-cart__body-right .rating > .half:before {
  content: "\f089";
  position: absolute;
}

.product-cart__body-right .rating > label {
  color: #ddd;
  float: right;
}

.product-cart__body-right .rating > input:checked ~ label {
  color: #FFD700;
}

.product-cart__title {
  color: #fff;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.product-cart__footer {
  background: #555b67;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: auto;
  color: #fff;
}

.product-cart__footer-left, .product-cart__footer-right {
  padding: 7px 10px;
}

.product-cart__footer-left {
  width: 50%;
  margin-top: auto;
}

.product-cart__footer-left .row:first-child {
  margin-bottom: 8px;
  padding: 3px 0;
}

.product-cart__footer-right {
  margin-top: auto;
  width: 50%;
  font-size: 18px;
  font-weight: 700;
  text-align: right;
}

.product-cart__favorite {
  position: relative;
  display: inline-block;
  top: -2px;
  -webkit-filter: grayscale(1) brightness(4);
          filter: grayscale(1) brightness(4);
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 12;
}

.product-cart__favorite img {
  margin-right: 5px;
}

.product-cart__favorite:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.product-cart__icon {
  position: relative;
  margin-top: -2px;
  margin-right: 5px;
}

.product-cart__favorite.active {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.product-cart__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.product-cart__link:hover {
  cursor: pointer;
}

.s4 {
  padding: 40px 0;
}

.s4__title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #393d45;
}

.comp {
  position: relative;
}

.comp__image {
  width: 100%;
  max-width: 750px;
  height: auto;
}

.comp__text {
  width: 200px;
  height: 120px;
  overflow: hidden;
  position: absolute;
}

.comp__text-1, .comp__text-2, .comp__text-3 {
  text-align: right;
  left: -10px;
}

.comp__text-1 {
  top: 3px;
}

.comp__text-1 .comp__title {
  color: #ff5a5a;
}

.comp__text-2 {
  top: 136px;
}

.comp__text-2 .comp__title {
  color: #29eb91;
}

.comp__text-3 {
  top: 265px;
}

.comp__text-3 .comp__title {
  color: #ffa772;
}

.comp__text-4, .comp__text-5, .comp__text-6 {
  text-align: left;
  right: -10px;
}

.comp__text-4 {
  top: 3px;
}

.comp__text-4 .comp__title {
  color: #68baff;
}

.comp__text-5 {
  top: 138px;
}

.comp__text-5 .comp__title {
  color: #9171ff;
}

.comp__text-6 {
  top: 295px;
  height: 200px;
}

.comp__title {
  font-weight: 700;
  font-size: 20px;
}

.comp__title span {
  display: block;
}

.comp__desc {
  font-size: 14px;
  font-weight: 700;
}

.comp__supertitle {
  font-size: 30px;
  font-weight: 700;
  color: #393d45;
}

.comp__supertitle_inner {
  color: #29eb91;
}

.s5 {
  padding: 40px 0;
}

.s5__item {
  padding: 0 60px;
}

.s5__title {
  color: #393d45;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 40px 0;
}

.s5__text {
  color: rgba(57, 61, 69, 0.8);
  font-size: 16px;
  font-weight: 100;
}

.s6 {
  background: -webkit-radial-gradient(#505661, #393d45);
  background: radial-gradient(#505661, #393d45);
  overflow: hidden;
}

.s6__title {
  color: #fff;
  text-align: center;
  margin-top: 50px;
  font-weight: 700;
  font-size: 30px;
}

.s6__phone {
  -webkit-transform: translateY(200px);
      -ms-transform: translateY(200px);
          transform: translateY(200px);
}

.s6__left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.s6__left .s6__item-icon {
  min-width: 40px;
  margin-left: 20px;
  text-align: center;
}

.s6__right .s6__item-icon {
  min-width: 40px;
  margin-right: 20px;
  text-align: center;
}

.s6__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.s6__item-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.s6__item-text {
  color: #ccd1dd;
  font-size: 16px;
}

.s8 {
  background: rgba(57, 61, 69, 0.02);
  padding: 40px 0;
  background-size: cover;
  background-position: top center;
}

.s8__items-wrapper {
  position: relative;
}

.s8__item {
  text-align: center;
}

.s8__image {
  width: 135px;
  height: 135px;
  background-position: center center;
  background-size: cover;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  margin: 0 auto;
}

.s8__name {
  margin-bottom: 20px;
  font-size: 24px;
  color: #393d45;
  font-weight: 700;
}

.s8__text {
  font-size: 18px;
  color: #393d45;
  line-height: 20px;
  font-weight: 100;
}

.s8__left, .s8__right {
  width: 55px;
  height: 55px;
  background: #ccd1dd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s;
  transition: .2s;
  position: absolute;
}

.s8__left:hover, .s8__right:hover {
  background: #393d45;
}

.s8__left {
  left: 0;
  top: 50%;
  -webkit-transform: translate3d(-140%, 100%, 0);
          transform: translate3d(-140%, 100%, 0);
}

.s8__right {
  right: 0;
  top: 50%;
  -webkit-transform: translate3d(140%, 100%, 0);
          transform: translate3d(140%, 100%, 0);
}

.s9 {
  background: rgba(57, 61, 69, 0.02);
  padding: 30px;
}

.s9 .container-fluid {
  max-width: 1500px;
}

.s9__title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #393d45;
}

.s9__button {
  padding: 15px 30px;
  background: #5c626f;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.s9__button:hover, .s9__button:active, .s9__button:focus {
  background: #454953;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .s9__button {
    padding: 10px 30px;
  }
}

.video {
  padding: 8px;
  background: #5c626f;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
}

.video__date {
  display: block;
  position: absolute;
  left: 8px;
  top: 30px;
  background: #5c626f;
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: .2s;
  transition: .2s;
}

.video__body {
  height: 310px;
  background-size: cover;
  background-position: center center;
}

.video__footer {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 100;
  padding: 10px 5px;
}

.video__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.video.active {
  background: #33b185;
}

.video.active .video__date {
  background: #33b185;
}

.s10 {
  background: #ccd1dd;
  padding: 30px 0;
}

.s10__title {
  color: #393d45;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.s10__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.s10__input {
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  margin-right: 30px;
  width: 270px;
}

.s10__button {
  padding: 15px 30px;
  background: #33b185;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.s10__button:hover, .s10__button:active, .s10__button:focus {
  background: #288967;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .s10__button {
    padding: 10px 30px;
  }
}

.prefooter {
  background: #292c31;
  padding: 30px 0;
  border-bottom: 1px solid #494e59;
}

.prefooter__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.prefooter__title {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.prefooter__list {
  padding: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  overflow: hidden;
}

.prefooter__item {
  list-style: none;
}

.prefooter__link {
  color: rgba(255, 255, 255, 0.5);
  padding: 7px 0;
  display: block;
  font-weight: 100;
  -webkit-transition: .2s;
  transition: .2s;
}

.prefooter__link:hover {
  color: #fff;
  text-decoration: none;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
  background: #292c31;
}

.footer__link {
  margin: 0 10px;
  opacity: .5;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer__link:hover {
  opacity: 1;
}

.accordeon__button {
  border: none;
  outline: none;
  padding: 10px;
  background: transparent;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.accordeon__button:hover {
  color: #33b185;
}

.phone__wrapper {
  position: absolute;
  bottom: 0;
  right: -webkit-calc(50% - 541px/2);
  right: calc(50% - 541px/2);
}

.row {
  position: relative;
}

.single-product-s1 {
  background: #eff3f8;
  padding: 60px 0;
  /****** Style Star Rating Widget *****/
  /***** CSS Magic to Highlight Stars on Hover *****/
}

.single-product-s1__img {
  width: 100%;
  max-height: 789px;
  overflow-y: auto;
}

.single-product-s1__img-inner {
  width: 100%;
  height: auto;
}

.single-product-s1__wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.single-product-s1__settings {
  background-color: #c8d2df;
  margin-top: 18px;
  height: 30px;
}

.single-product-s1__settings-wrap {
  margin-left: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  cursor: pointer;
}

.single-product-s1__settings-circle {
  width: 8px;
  height: 8px;
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}

.single-product-s1 .container-fluid {
  max-width: 1410px;
}

.single-product-s1 label {
  margin-bottom: 0;
}

.single-product-s1 .rating {
  border: none;
}

.single-product-s1 .rating > input {
  display: none;
}

.single-product-s1 .rating > label:before {
  margin-left: 5px;
  font-size: 16px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.single-product-s1 .rating > .half:before {
  content: "\f089";
  position: absolute;
}

.single-product-s1 .rating > label {
  color: #ddd;
  float: right;
}

.single-product-s1 .rating > input:checked ~ label,
.single-product-s1 .rating:not(:checked) > label:hover,
.single-product-s1 .rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

.single-product-s1 .rating > input:checked + label:hover,
.single-product-s1 .rating > input:checked ~ label:hover,
.single-product-s1 .rating > label:hover ~ input:checked ~ label,
.single-product-s1 .rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

.sp__section {
  background-color: #fff;
  padding-left: 28px;
  padding-right: 28px;
}

.sp__section_padding {
  padding-top: 25px;
  padding-bottom: 25px;
}

.sp__section_features {
  padding: 0;
}

.sp__section_2 {
  height: 297px;
  overflow: auto;
}

.sp__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.sp__description {
  font-weight: 400;
  color: #4d525f;
  font-size: 18px;
}

.sp__transforms {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sp__transforms-single {
  width: 30%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sp__transforms-img {
  max-height: 100px;
}

.sp__transforms-title {
  color: #6f7685;
  padding-top: 19px;
  text-align: center;
}

.sp__adversting-title {
  font-weight: 700;
  color: #393d45;
  text-align: center;
}

.sp__photos {
  background-color: #fff;
  padding-top: 22px;
}

.sp__support {
  font-size: 24px;
  color: #404960;
  font-weight: 900;
  padding-left: 40px;
  text-transform: uppercase;
  position: relative;
}

.sp__support:before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  left: 0;
  top: 6px;
  background-repeat: no-repeat;
}

.sp__support:first-child:before {
  background-image: url("../../img/support-audio.png");
}

.sp__support:nth-child(2):before {
  background-image: url("../../img/support-safe.png");
}

.sp__features {
  line-height: 60px;
  padding: 0 28px;
  font-weight: 700;
  font-size: 18px;
  color: #393d45;
}

.sp__features:nth-child(5n+1) {
  background-color: #ffa18c;
}

.sp__features:nth-child(5n+2) {
  background-color: #ffef66;
}

.sp__features:nth-child(5n+3) {
  background-color: #8cd5ff;
}

.sp__features:nth-child(5n+4) {
  background-color: #8ef1cd;
}

.sp__features:nth-child(5n+5) {
  background-color: #66a4b8;
}

.sp__benefit {
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.sp__benefit-avatar {
  width: 128px;
  height: 128px;
  background-color: #e7ecf3;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sp__benefit-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
  text-align: center;
  color: #4d525f;
  font-size: 24px;
  font-weight: 900;
  max-width: 190px;
  -webkit-flex-basis: 75px;
      -ms-flex-preferred-size: 75px;
          flex-basis: 75px;
}

.sp__benefit-description {
  color: #6f7685;
  max-width: 163px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
}

.sp__title {
  font-weight: 700;
  color: #393d45;
  font-size: 47px;
  padding-top: 37px;
  margin: 0;
}

.sp__category {
  color: #393d45;
}

.sp__category img {
  position: relative;
  margin-top: -6px;
  margin-right: 5px;
}

.sp__category:hover {
  text-decoration: none;
  color: #d4495a;
}

.sp-objective {
  margin-top: 40px;
}

.sp-objective_bottom {
  padding-bottom: 35px;
}

.sp-objective__title {
  font-weight: 700;
  text-transform: uppercase;
  color: #393d45;
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.sp-objective__text {
  color: rgba(57, 61, 69, 0.6);
}

.sp-objective__text ul {
  padding-left: 15px;
}

.sp-objective__text ul li {
  line-height: 26px;
}

.sp-objective__btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sp-objective__send {
  padding: 15px 30px;
  background: #33b185;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.sp-objective__send:hover, .sp-objective__send:active, .sp-objective__send:focus {
  background: #288967;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .sp-objective__send {
    padding: 10px 30px;
  }
}

.sp-objective__send, .sp-objective__demo {
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.sp-objective__send img, .sp-objective__demo img {
  position: relative;
  margin-left: 10px;
}

.sp-objective__demo {
  padding: 15px 30px;
  background: #d4495a;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
  display: none;
}

.sp-objective__demo:hover, .sp-objective__demo:active, .sp-objective__demo:focus {
  background: #bd2d3e;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .sp-objective__demo {
    padding: 10px 30px;
  }
}

.sp-objective__item__title {
  font-size: 18px;
  font-weight: 700;
  color: #393d45;
  margin-top: 30px;
}

.sp-objective__business {
  text-align: center;
  padding: 10px 0 0;
  font-weight: 100;
  color: rgba(57, 61, 69, 0.6);
}

.sp-objective__online-link {
  display: block;
  color: #393d45;
  font-weight: 700;
  font-size: 24px;
  line-height: 50px;
  -webkit-transition: .2s;
  transition: .2s;
}

.sp-objective__online-link span {
  width: 50px;
  text-align: center;
  display: inline-block;
}

.sp-objective__online-link:hover {
  color: #d4495a;
  text-decoration: none;
}

.sp-card, .sp-card-2 {
  background: rgba(204, 209, 221, 0.3);
  padding: 40px;
  margin-top: 60px;
  position: relative;
}

.sp-card:after, .sp-card-2:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 0;
  border-color: #fff transparent transparent transparent;
}

.sp-card__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(57, 61, 69, 0.2);
  padding-top: 30px;
}

.sp-card__row:first-child {
  margin-top: 2px;
}

.sp-card__row:last-child {
  margin-bottom: 0;
}

.sp-card__left {
  margin: 0;
  color: #393d45;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 16px;
}

.sp-card__right {
  margin: 0;
  color: #393d45;
  font-weight: 900;
  font-size: 16px;
}

.sp-card__last-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding-top: 20px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.sp-card__item {
  max-width: 138px;
  max-height: 178px;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.sp-card__image {
  margin-bottom: 20px;
}

.sp-card__category {
  color: rgba(57, 61, 69, 0.6);
  font-weight: 100;
}

.sp-card-2 {
  background: none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 2px;
  margin: 0;
}

.sp-card-2:after {
  display: none;
}

.sp-card-2 .sp-card__right {
  font-weight: 100;
  color: rgba(57, 61, 69, 0.6);
}

.single-product-s2 {
  background: #393d45;
  padding: 150px 0;
}

.single-product-s2__wrapper {
  text-align: center;
}

.single-product-s2__image {
  max-width: 128px;
  height: auto;
  position: relative;
  margin: 0 auto 20px;
}

.single-product-s2__title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 100;
}

.single-product-s2 .owl-dots {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -60px;
}

.single-product-s2 .owl-dot {
  background: #ccd1dd;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
  -webkit-transition: .2s;
  transition: .2s;
}

.single-product-s2 .owl-dot.active {
  background: #33b185;
}

.sp__video .plyr__play-large {
  padding: 30px;
  background: #33b185;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sp__video .plyr__play-large:hover {
  background: #288967;
}

.sp__video .plyr__progress--played,
.sp__video .plyr__volume--display {
  color: #33b185;
}

.gallery {
  background-color: #fff;
}

.single-product-s3 {
  padding: 90px 0;
  background: #fff;
}

.single-product-s3 .plyr__play-large {
  padding: 30px;
  background: #33b185;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.single-product-s3 .plyr__play-large:hover {
  background: #288967;
}

.single-product-s3 .plyr__progress--played,
.single-product-s3 .plyr__volume--display {
  color: #33b185;
}

.single-product-s3__gallery-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.single-product-s3__gallery-wrapper a {
  -webkit-flex-basis: -webkit-calc(100% / 3);
      -ms-flex-preferred-size: calc(100% / 3);
          flex-basis: calc(100% / 3);
  padding: 5px;
}

.single-product-s3__add {
  -webkit-flex-basis: -webkit-calc(100% / 3);
      -ms-flex-preferred-size: calc(100% / 3);
          flex-basis: calc(100% / 3);
}

.single-product-s3__add-inner {
  border: 2px solid rgba(51, 177, 133, 0.3);
  cursor: pointer;
  z-index: 5;
  width: 100%;
  -webkit-flex-basis: 200px;
      -ms-flex-preferred-size: 200px;
          flex-basis: 200px;
  height: 320px;
  position: relative;
}

.single-product-s3__add-inner:after {
  position: absolute;
  content: '';
}

.single-product-s3__add-inner:before {
  position: absolute;
  content: '';
  width: 64px;
  height: 64px;
  right: 0;
  left: 0;
  top: -webkit-calc(50% - 32px);
  top: calc(50% - 32px);
  background-image: url("../../img/plus1.png");
  background-repeat: no-repeat;
  margin: 0 auto;
}

.single-product-s3__upload {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
  top: 0;
  opacity: 0;
}

.single-product-s3 #gallery {
  position: relative;
}

.single-product-s3__gallery {
  background-size: cover;
  background-position: center center;
  width: 100%;
  -webkit-flex-basis: 200px;
      -ms-flex-preferred-size: 200px;
          flex-basis: 200px;
  height: 320px;
}

.single-product-s4 {
  background: #ccd1dd;
  padding: 55px 45px;
}

.single-product-s4__title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}

.single-product-s4__form {
  margin-top: 60px;
}

.single-product-s4__textarea {
  width: 100%;
  height: 165px;
  border: none;
  border-bottom: 3px solid transparent;
  background: rgba(255, 255, 255, 0.6);
  padding: 30px;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.single-product-s4__textarea:focus {
  border-color: #393d45;
}

.single-product-s4__btn-wrapper {
  width: 100%;
  max-width: 700px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  position: relative;
  margin: 30px auto 0;
}

.single-product-s4__button-1, .single-product-s4__button-2, .single-product-s4__button-3 {
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.single-product-s4__button-1 {
  padding: 15px 30px;
  background: #33b185;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.single-product-s4__button-1:hover, .single-product-s4__button-1:active, .single-product-s4__button-1:focus {
  background: #288967;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .single-product-s4__button-1 {
    padding: 10px 30px;
  }
}

.single-product-s4__button-2 {
  padding: 15px 30px;
  background: #393d45;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.single-product-s4__button-2:hover, .single-product-s4__button-2:active, .single-product-s4__button-2:focus {
  background: #222429;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .single-product-s4__button-2 {
    padding: 10px 30px;
  }
}

.single-product-s4__button-3 {
  padding: 15px 30px;
  background: #d4495a;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.single-product-s4__button-3:hover, .single-product-s4__button-3:active, .single-product-s4__button-3:focus {
  background: #bd2d3e;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .single-product-s4__button-3 {
    padding: 10px 30px;
  }
}

.single-product-s4__comment-wrapper {
  margin-top: 60px;
}

.single-product-s4__comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.single-product-s4__comment__image {
  width: 110px;
  height: 110px;
  background-size: cover;
  background-position: center center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.single-product-s4__comment__text-body {
  color: rgba(57, 61, 69, 0.8);
  font-size: 14px;
}

.single-product-s4__comment__text-footer {
  margin-top: 20px;
  color: rgba(57, 61, 69, 0.6);
  font-size: 14px;
  border-bottom: 1px solid rgba(57, 61, 69, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.catalog-s1 {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center center;
}

.catalog-s1 .container {
  position: relative;
}

.catalog-s1__wrapper {
  height: 380px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog-s1__image-wrapper {
  position: absolute;
  top: 40px;
  right: 0;
  width: 557px;
  height: 375px;
  background-size: cover;
  background-position: top center;
}

.catalog-s1__image-wrapper:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: -25px;
  height: 25px;
  background: url("../img/browser.png");
}

.catalog-s1__title {
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  margin: 0;
}

.catalog-s1__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 100;
  line-height: 26px;
  margin: 30px 0;
}

.catalog-s1__link {
  padding: 15px 30px;
  background: #33b185;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 200px;
}

.catalog-s1__link:hover, .catalog-s1__link:active, .catalog-s1__link:focus {
  background: #288967;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .catalog-s1__link {
    padding: 10px 30px;
  }
}

.catalog-s2 {
  background: #fff;
  padding: 40px 0 30px;
}

.catalog-s2__title {
  text-align: center;
  text-transform: uppercase;
  color: #393d45;
  font-weight: 700;
  font-size: 40px;
}

.catalog-s2__column-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.catalog-s2__left {
  width: 340px;
}

.catalog-s2__right {
  width: -webkit-calc(100% - 340px);
  width: calc(100% - 340px);
}

.catalog-s2__right .product-flex {
  width: 100%;
}

.catalog-s2__right .product-cart {
  width: -webkit-calc(100% / 4);
  width: calc(100% / 4);
}

.catalog-s2__load-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.catalog-s2__load {
  padding: 15px 30px;
  background: #33b185;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  min-width: 170px;
}

.catalog-s2__load:hover, .catalog-s2__load:active, .catalog-s2__load:focus {
  background: #288967;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .catalog-s2__load {
    padding: 10px 30px;
  }
}

@media (max-width: 1600px) {
  .catalog-s2__right .product-cart {
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
  }
}

@media (max-width: 1200px) and (min-width: 999px) {
  .product-cart__image {
    height: 200px;
  }
  .product-cart__footer {
    display: block;
  }
  .product-cart__footer-left {
    width: 100%;
  }
  .product-cart__footer-right {
    width: 100%;
  }
  .product-cart__body-left, .product-cart__body-right {
    padding: 7px 4px;
  }
  .product-cart__body {
    display: block;
    text-align: center;
  }
}

@media (max-width: 998px) {
  .catalog-s2__right .product-cart {
    width: -webkit-calc(50%);
    width: calc(50%);
  }
  .sp-card__right {
    text-align: right;
  }
}

@media (max-width: 900px) {
  .catalog-s2__right .product-cart {
    width: -webkit-calc(100%);
    width: calc(100%);
  }
}

.filters {
  padding-right: 55px;
  padding-left: 15px;
}

.filters__title {
  font-size: 24px;
  font-weight: 700;
  color: #393d45;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.filters__items-wrapper {
  padding-left: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  list-style: none;
}

.filters__group {
  position: relative;
}

.filters__group__title {
  font-weight: 700;
  font-size: 20px;
  margin: 20px 0;
  padding-top: 20px;
  border-top: 3px solid rgba(204, 209, 221, 0.8);
}

.filters__group__toggle {
  position: absolute;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  right: 0;
  top: 17px;
  border: 2px solid #595f6b;
  width: 20px;
  height: 20px;
}

.filters__group__toggle_active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.filters__item {
  display: block;
}

.filters__link {
  display: block;
  padding: 7px 0;
  color: #33b185;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .2s;
  transition: .2s;
}

.filters__link:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  color: #33b185;
  text-decoration: none;
}

.filters__image-wrapper {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.filters__image {
  margin-right: 5px;
}

@media (max-width: 650px) {
  .catalog-s2__column-wrapper {
    display: block;
    width: 100%;
  }
  .catalog-s2__left, .catalog-s2__right {
    display: block;
    width: 100%;
  }
  .filters {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.irs.js-irs-0.irs-with-grid {
  margin-top: 20px;
}

.irs-line {
  height: 4px;
  top: 33px;
  background: #ccd1dd;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.irs-bar {
  height: 4px;
  top: 33px;
  border: none;
  background: #33b185;
}

.irs-slider {
  top: 25px;
  width: 20px;
  height: 20px;
  border: none;
  background: #33b185;
  -webkit-border-radius: 27px;
          border-radius: 27px;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.irs-slider:hover, .irs-slider:active {
  background: #288967;
}

.irs-from, .irs-to, .irs-single {
  color: #393d45;
  font-size: 12px;
  line-height: 1.3;
  padding: 3px 7px;
  background: #ccd1dd;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.login {
  padding: 40px 0;
  background: #fff;
}

.login__title {
  color: #393d45;
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  margin: 0 0 40px 0;
}

.form__image-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__image {
  width: 147px;
  height: 147px;
  background-size: cover;
  background-position: center center;
  margin: 5px;
  position: relative;
}

.form__title {
  color: #393d45;
  font-weight: 700;
  text-align: center;
  font-size: 24px;
  margin: 0 0 15px 0;
  letter-spacing: 2px;
}

.form__desc {
  font-size: 14px;
  color: rgba(57, 61, 69, 0.7);
  text-align: center;
}

.form__desc span {
  color: #d4495a;
}

.form__group {
  margin-bottom: 20px;
}

.form__group__new {
  margin-bottom: 20px;
}

.form__group__new .jq-file {
  margin-bottom: 20px;
}

.form__label {
  display: block;
  font-weight: 100;
  color: rgba(57, 61, 69, 0.7);
  margin-bottom: 3px;
}

.form__label span {
  color: #d4495a;
}

.form__label__checkbox {
  margin-left: 30px;
}

.form__input, .form .jq-selectbox__select-text, .form .jq-number__field input, .form .bootstrap-select .dropdown-toggle, .daterangepicker .input-mini, .daterangepicker .input-mini.active, .form__textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 3px solid transparent;
  background: rgba(204, 209, 221, 0.6);
  padding: 15px 20px;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.form__input:focus, .form .jq-selectbox__select-text:focus, .form .jq-number__field input:focus, .form .bootstrap-select .dropdown-toggle:focus, .daterangepicker .input-mini:focus, .form__textarea:focus {
  border-color: #393d45;
}

.form__textarea {
  height: 200px;
}

.form__button {
  padding: 15px 30px;
  background: #33b185;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
  min-width: 250px;
}

.form__button:hover, .form__button:active, .form__button:focus {
  background: #288967;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .form__button {
    padding: 10px 30px;
  }
}

.form .add-benefits__button {
  color: rgba(57, 61, 69, 0.8);
  display: block;
  position: relative;
  text-align: center;
  -webkit-transition: .2s;
  transition: .2s;
}

.form .add-benefits__button:hover, .form .add-benefits__button:active, .form .add-benefits__button:focus {
  color: #d4495a;
  text-decoration: none;
}

.form .add-benefits__button img {
  position: relative;
  margin-top: -3px;
}

.form__forget-link {
  color: #33b185;
  display: inline-block;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
}

.form__forget-link:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 2px;
  height: 1px;
  left: 0;
  width: 100%;
  background: #33b185;
}

.form__forget-link:hover {
  text-decoration: none;
  color: #d4495a;
}

.form__soc__title {
  color: #393d45;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.form__social-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.form__social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #ccd1dd;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s;
  transition: .2s;
}

.form__social-link:hover {
  background: #ccd1dd;
}

.form__social-link__facebook:hover {
  background: #3b5998;
  border-color: #3b5998;
}

.form__social-link__facebook:hover img {
  -webkit-filter: brightness(5);
          filter: brightness(5);
}

.form__social-link__google:hover {
  background: #ea4335;
  border-color: #ea4335;
}

.form__social-link__google:hover img {
  -webkit-filter: brightness(5);
          filter: brightness(5);
}

.form__social-link__linkedin:hover {
  background: #0077b5;
  border-color: #0077b5;
}

.form__social-link__linkedin:hover img {
  -webkit-filter: brightness(5);
          filter: brightness(5);
}

.form .jq-selectbox__select,
.form .jq-selectbox {
  width: 100%;
  position: relative;
}

.form .jq-selectbox__select-text {
  position: relative;
  margin-bottom: -6px;
}

.form .jq-selectbox__select-text:after {
  content: '';
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  background: url("../img/select.png");
  width: 6px;
  height: 5px;
}

.form .jq-selectbox__dropdown {
  width: 100%;
  z-index: 12;
}

.form .jq-selectbox__dropdown ul {
  padding: 0;
}

.form .jq-selectbox__dropdown ul li {
  background: #393d45;
  padding: 15px 20px;
  -webkit-transition: .2s;
  transition: .2s;
  color: rgba(255, 255, 255, 0.8);
}

.form .jq-selectbox__dropdown ul li:hover {
  background: #288967;
  cursor: pointer;
}

.form .jq-selectbox__dropdown ul .disabled:hover {
  background: #454953;
  cursor: default;
}

.form .jq-selectbox__dropdown ul .disabled {
  background: #454953;
}

.form .jq-checkbox {
  width: 20px;
  height: 20px;
  background: rgba(204, 209, 221, 0.6);
  display: inline-block;
  position: absolute;
}

.form .jq-checkbox:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background: rgba(51, 177, 133, 0);
  -webkit-transition: .2s;
  transition: .2s;
}

.form .jq-checkbox.checked:after {
  background: #33b185;
}

.form .jq-number {
  width: 100%;
  position: relative;
}

.form .jq-number__field {
  display: block;
}

.form .jq-number__spin {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 40px;
  background: #393d45;
  right: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.form .jq-number__spin:hover {
  background: #33b185;
  cursor: pointer;
}

.form .jq-number__spin:after, .form .jq-number__spin:before {
  display: block;
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  font-size: 17px;
}

.form .jq-number .plus {
  top: 0;
}

.form .jq-number .plus:before {
  content: '+';
}

.form .jq-number .minus {
  bottom: 0;
}

.form .jq-number .minus:after {
  content: '-';
}

.form .jq-file {
  position: relative;
}

.form .jq-file__browse {
  position: absolute;
  background: #393d45;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: .2s;
  transition: .2s;
}

.form .bootstrap-select {
  width: 100% !important;
  display: block;
  outline: none;
}

.form .bootstrap-select .dropdown-toggle {
  -webkit-border-radius: 0;
          border-radius: 0;
  outline: none;
}

.form .bootstrap-select .dropdown-toggle:active, .form .bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}

.form .bootstrap-select .dropdown-menu {
  padding: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
  margin-top: -3px;
}

.form .bootstrap-select .glyphicon {
  margin-top: 16px !important;
}

.form .bootstrap-select ul {
  padding: 0;
}

.form .bootstrap-select ul a {
  background: #393d45;
  padding: 15px 20px;
  -webkit-transition: .2s;
  transition: .2s;
  color: rgba(255, 255, 255, 0.8);
}

.form .bootstrap-select ul a:hover {
  background: #288967;
  cursor: pointer;
}

.form .bootstrap-select ul .disabled a:hover {
  background: #454953;
  color: rgba(255, 255, 255, 0.8);
}

.form .bootstrap-select ul .disabled a {
  background: #454953;
}

.add-product .form__title {
  text-transform: uppercase;
  border-bottom: 3px solid rgba(204, 209, 221, 0.5);
  padding-bottom: 20px;
  margin: 20px 0;
}

.add-product .form__label {
  font-weight: 700;
  color: #393d45;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.add-product .form__forget-link {
  color: rgba(57, 61, 69, 0.8);
}

.add-product .form__forget-link:after {
  display: none;
}

.add-product .form__forget-link:hover {
  color: #d4495a;
}

.daterangepicker {
  background: #393d45;
  -webkit-border-radius: 0;
          border-radius: 0;
  margin-top: -2px;
}

.daterangepicker:after, .daterangepicker:before {
  display: none;
}

.daterangepicker .calendar-table {
  border: none;
  background: #393d45;
  color: rgba(51, 177, 133, 0.8);
}

.daterangepicker .calendar-table td {
  background: #393d45;
  color: #fff;
}

.daterangepicker .calendar-table td.off {
  background: #393d45;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.daterangepicker .calendar-table td.start-date, .daterangepicker .calendar-table td.end-date, .daterangepicker .calendar-table td.in-range {
  background: #33b185;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.daterangepicker .input-mini, .daterangepicker .input-mini.active {
  background: rgba(204, 209, 221, 0.15);
  -webkit-border-radius: 0;
          border-radius: 0;
  height: 48px;
  color: rgba(255, 255, 255, 0.8);
}

.daterangepicker .input-mini:focus, .daterangepicker .input-mini.active:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #33b185;
}

.daterangepicker .fa-calendar {
  display: none;
}

.daterangepicker .applyBtn {
  padding: 15px 30px;
  background: #33b185;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
  display: block;
  -webkit-border-radius: 0;
          border-radius: 0;
  width: 100%;
}

.daterangepicker .applyBtn:hover, .daterangepicker .applyBtn:active, .daterangepicker .applyBtn:focus {
  background: #288967;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .daterangepicker .applyBtn {
    padding: 10px 30px;
  }
}

.daterangepicker .cancelBtn {
  display: none;
}

.form__tags .text-wrap {
  width: 100% !important;
}

.form__tags .text-wrap textarea {
  width: 100% !important;
  border: none;
  background: rgba(204, 209, 221, 0.6);
  line-height: 38px;
  padding-left: 20px;
  border-bottom: 3px solid transparent;
}

.form__tags .text-wrap textarea:active, .form__tags .text-wrap textarea:focus {
  border-color: #393d45;
}

.form__tags .text-core .text-wrap .text-tags .text-tag .text-button {
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  float: left;
  border: 1px solid #9daccc;
  color: #000;
  padding: 14px 20px 12px 10px;
  margin: 0 2px 2px 0;
  cursor: pointer;
  height: auto;
  z-index: 20;
  background: #ccd1dd;
}

.form__tags .text-core .text-wrap .text-tags .text-tag .text-button a.text-remove {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -6px;
  display: block;
  width: 12px;
  height: 12px;
  background: rgba(212, 73, 90, 0.5);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: .2s;
  transition: .2s;
}

.form__tags .text-core .text-wrap .text-tags .text-tag .text-button a.text-remove:hover {
  background: #d4495a;
}

.change__photo,
.change__cover {
  color: #393d45;
  -webkit-transition: .2s;
  transition: .2s;
  top: 15px;
  position: relative;
}

.change__photo:hover, .change__photo:active, .change__photo:focus,
.change__cover:hover,
.change__cover:active,
.change__cover:focus {
  text-decoration: none;
  color: #d4495a;
}

.change__cover {
  top: -25px;
  color: #fff;
  padding: 10px 25px;
  background: rgba(57, 61, 69, 0.4);
  position: absolute;
  -webkit-transform: translate3d(-50%, -30px, 0);
          transform: translate3d(-50%, -30px, 0);
}

.form__image-input + label {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #fff;
  position: absolute;
  right: 3px;
  top: 3px;
  background: #33b185;
  -webkit-transition: .2s;
  transition: .2s;
}

.form__image-input + label:hover {
  cursor: pointer;
}

.form__image-input + label span {
  font-size: 12px;
  position: relative;
  top: -1px;
}

.form__image-input:checked + label {
  background: #d4495a;
}

.add-product .owl-carousel .owl-item img {
  width: auto;
}

.add-product .owl-carousel .owl-nav {
  position: absolute;
  top: 50px;
  right: 0;
  left: -66px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-product .owl-carousel .owl-nav .s8__right {
  right: auto;
}

.add-product .owl-carousel .owl-nav .s8__left {
  left: auto;
}

.benefits-img {
  padding-bottom: 70px;
  margin-top: 20px;
}

.benefits-img__wrapper {
  border: 1px solid transparent;
  width: 100%;
  height: auto;
  -webkit-transition: all .3s;
  transition: all .3s;
  min-height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits-img__wrapper_active {
  border: 1px solid #393d45;
}

.benefits-img__wrapper:hover {
  border: 1px solid #33b185;
}

.benefits__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.benefits__choose {
  width: 25%;
  padding: 15px 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.benefits__choose:hover {
  border: 1px solid #33b185;
}

.benefits__choose_active {
  border: 1px solid #393d45;
}

.social-login-container {
  margin-bottom: 20px;
}

.social-login-button {
  display: inline-block;
}

.video-list {
  padding: 40px 0;
}

.video-list .container-fluid {
  max-width: 1500px;
}

.video-list__title {
  color: #393d45;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.video-list__video {
  background: #393d45;
  height: 400px;
}

.videoblog-list-page {
  background: rgba(204, 209, 221, 0.4);
}

.videoblog-list-page .s9__title {
  margin-bottom: 50px;
}

.single-videoblog {
  padding: 50px 0;
}

.single-videoblog__title {
  font-weight: 700;
  color: #393d45;
  text-align: center;
  margin: 0 0 50px 0;
}

.single-videoblog__video-wrapper {
  position: relative;
  border: 7px solid #5c626f;
}

.single-videoblog__date {
  position: absolute;
  top: 30px;
  padding: 5px 10px;
  background: #5c626f;
  color: #fff;
}

.single-videoblog .plyr__play-large {
  padding: 40px;
  -webkit-transition: .3s;
  transition: .3s;
}

.single-videoblog .plyr--audio .plyr__controls button.tab-focus:focus, .single-videoblog .plyr--audio .plyr__controls button:hover, .single-videoblog .plyr__play-large {
  background: #33b185;
  -webkit-transition: .3s;
  transition: .3s;
}

.single-videoblog .plyr--audio .plyr__controls button.tab-focus:focus:hover, .single-videoblog .plyr--audio .plyr__controls button:hover:hover, .single-videoblog .plyr__play-large:hover {
  background: #288967;
}

.single-videoblog .plyr__progress--played, .single-videoblog .plyr__volume--display {
  color: #33b185;
}

.single-videoblog .plyr--video .plyr__controls button.tab-focus:focus, .single-videoblog .plyr--video .plyr__controls button:hover {
  background: #33b185;
}

.single-videoblog__text {
  margin-top: 50px;
  color: #707ea0;
  font-size: 16px;
  font-weight: 100;
  text-align: justify;
}

.profile {
  background-position: center center;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 30px;
}

.profile__top-background {
  background-image: url("../img/bg.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 400px;
  border-bottom: 5px solid #ccd1dd;
}

.profile .container-fluid {
  max-width: 1500px;
}

.profile__avatar {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff;
  background-size: cover;
  background-position: center center;
}

.profile__avatar-wrap {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: inline-block;
  border: 10px solid rgba(255, 255, 255, 0.18);
}

.profile__title {
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}

.profile__position {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.58);
}

.profile__place {
  font-size: 14px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.profile__place img {
  position: relative;
  margin-top: -2px;
  margin-right: 5px;
}

.profile__place span {
  margin-left: 40px;
}

.profile__link {
  color: #fff;
  text-transform: uppercase;
  padding-left: 22px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.profile__link:hover, .profile__link:link {
  text-decoration: none;
}

.profile__link:hover {
  color: #33b185;
}

.profile__block {
  padding-top: 15px;
}

.profile__social {
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 27px;
}

.profile__social img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.profile__tag-wrapper {
  margin: 20px 0;
}

.profile__tag {
  color: #393d45;
  background: #ccd1dd;
  padding: 5px 20px;
  margin: 5px;
  -webkit-transition: .2s;
  transition: .2s;
}

.profile__tag:hover {
  text-decoration: none;
  color: #fff;
  background: #33b185;
}

.profile__sub-title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  color: #393d45;
  margin-bottom: 30px;
}

.profile__button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile__button {
  margin: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__button-edit {
  padding: 15px 30px;
  background: #33b185;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.profile__button-edit:hover, .profile__button-edit:active, .profile__button-edit:focus {
  background: #288967;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .profile__button-edit {
    padding: 10px 30px;
  }
}

.profile__button-add {
  padding: 15px 30px;
  background: #d4495a;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.profile__button-add:hover, .profile__button-add:active, .profile__button-add:focus {
  background: #bd2d3e;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .profile__button-add {
    padding: 10px 30px;
  }
}

.profile__button-message {
  padding: 15px 30px;
  background: #393d45;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.profile__button-message:hover, .profile__button-message:active, .profile__button-message:focus {
  background: #222429;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .profile__button-message {
    padding: 10px 30px;
  }
}

.profile__button img {
  margin-left: 10px;
}

.profile__text {
  color: #808caa;
  font-size: 15px;
  padding: 0 10px;
}

.settings {
  background-color: #eff3f8;
  padding-top: 29px;
  padding-bottom: 47px;
}

.settings__header, .sp__header {
  color: #fff;
  background-color: #4d525f;
  padding-left: 20px;
}

.settings__body {
  background-color: #fff;
  padding-top: 28px;
  padding-bottom: 35px;
}

.settings__body_gallery {
  padding: 0;
}

.settings__body_gallery .single-product-s3__gallery {
  height: 190px;
}

.settings__body_gallery .single-product-s3__add-inner {
  height: 190px;
}

.settings__title, .sp__subtitle {
  font-size: 18px;
  margin-bottom: 0px;
  line-height: 60px;
  color: #fff;
  font-weight: 900;
  margin-top: 0px;
  text-transform: uppercase;
}

.settings__title img, .sp__subtitle img {
  position: relative;
  margin-top: -3px;
  margin-right: 5px;
}

.settings__subtitle {
  font-size: 24px;
  color: #404960;
  font-weight: 900;
  margin: 0;
}

.settings__wrapper {
  padding-left: 40px;
  padding-top: 43px;
  padding-right: 40px;
}

.settings__skill {
  background-color: #e0e6ee;
  position: relative;
  height: 49px;
  margin-top: 20px;
}

.settings__skill:nth-child(4n + 2) .settings__skill-inner {
  background-color: #fead9c;
}

.settings__skill:nth-child(4n +3) .settings__skill-inner {
  background-color: #fbef7e;
}

.settings__skill:nth-child(4n +4) .settings__skill-inner {
  background-color: #aed4ea;
}

.settings__skill:nth-child(4n +5) .settings__skill-inner {
  background-color: #96dcc5;
}

.settings__skill:nth-child(4n + 2) .settings__skill-title {
  background-color: #fd5937;
}

.settings__skill:nth-child(4n +3) .settings__skill-title {
  background-color: #f8e21b;
}

.settings__skill:nth-child(4n +4) .settings__skill-title {
  background-color: #5da8d5;
}

.settings__skill:nth-child(4n +5) .settings__skill-title {
  background-color: #49c39a;
}

.settings__skill-inner {
  height: 49px;
}

.settings__skill-title {
  position: absolute;
  left: 0;
  background-color: #fd5937;
  bottom: 0;
  top: 0;
  padding-top: 17px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  z-index: 5;
  padding-left: 16px;
  padding-right: 16px;
  margin: auto;
}

.settings__skill-percentage {
  right: 16px;
  position: absolute;
  top: -webkit-calc(50% - 8px);
  top: calc(50% - 8px);
  font-size: 16px;
  color: #4d525f;
  font-weight: 900;
}

.price-block {
  background: -webkit-radial-gradient(#505661, #393d45);
  background: radial-gradient(#505661, #393d45);
  padding: 50px 0;
}

.price-block .container-fluid {
  max-width: 1400px;
}

.price-block__title {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
  font-weight: 700;
}

.price__wrapper {
  margin-bottom: 50px;
}

.price__item {
  background: #ebedf1;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.price__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.price__header {
  text-align: center;
  padding: 25px 10px 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid transparent;
  -webkit-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
}

.price__header h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #393d45;
}

.price__header div {
  margin-top: -12px;
}

.price__price {
  font-size: 70px;
  font-weight: 100;
  color: #393d45;
}

.price__currency {
  color: #bdc3d3;
  position: relative;
  font-size: 18px;
  top: -34px;
  font-weight: 100;
}

.price__period {
  color: #bdc3d3;
  font-size: 18px;
  font-weight: 100;
}

.price__body {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.price__body ul {
  padding: 0;
  margin: 0;
}

.price__body ul li {
  list-style: none;
  font-size: 15px;
  color: #707ea0;
  font-weight: 100;
  text-align: center;
  line-height: 40px;
}

.price__body ul li:nth-child(2n) {
  background: #fff;
}

.price__body ul li span {
  font-weight: 700;
  color: #393d45;
}

.price__button {
  padding: 15px 30px;
  background: #33b185;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
  display: block;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 34px;
}

.price__button:hover, .price__button:active, .price__button:focus {
  background: #288967;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .price__button {
    padding: 10px 30px;
  }
}

.top-price .price__header {
  border-color: #33b185;
}

.top-price .price__body {
  border-color: #33b185;
}

.how-to-use {
  padding: 50px 0;
}

.how-to-use .container-fluid {
  max-width: 1500px;
}

.how-to-use__main-title {
  font-weight: 700;
  color: #393d45;
  text-align: center;
  margin: 0 0 50px 0;
  text-transform: uppercase;
}

.how-to-use__item {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.how-to-use__item:hover .how-to-use__image-wrapper {
  background: #33b185;
}

.how-to-use__image-wrapper {
  background: #393d45;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s;
  transition: .2s;
}

.how-to-use__title {
  font-weight: 700;
  color: #393d45;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  display: block;
  max-width: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.how-to-use__text {
  color: #707ea0;
}

.maps {
  background: rgba(57, 61, 69, 0.02);
}

.maps__title {
  font-weight: 400;
  color: #393d45;
  text-align: center;
  margin: 0 0 50px 0;
  text-transform: uppercase;
}

.maps__title span {
  color: #33b185;
  font-weight: 700;
}

.maps .animated {
  -webkit-animation-duration: .6s;
          animation-duration: .6s;
}

.history {
  background: -webkit-radial-gradient(#505661, #393d45);
  background: radial-gradient(#505661, #393d45);
  padding: 50px 0;
}

.history__button {
  background: #fff;
  width: 80px;
  height: 80px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #393d45;
  margin: 0 40px;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
}

.history__button:after {
  content: '';
  display: block;
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 96px;
  height: 96px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  left: -8px;
  top: -8px;
  -webkit-transition: .3s;
  transition: .3s;
}

.history__button:before {
  content: '';
  display: block;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 110px;
  height: 110px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  left: -15px;
  top: -15px;
  -webkit-transition: .4s;
  transition: .4s;
}

.history__button:hover, .history__button:focus, .history__button:active {
  text-decoration: none;
  background: #33b185;
  color: #fff;
}

.history__button:hover:after, .history__button:focus:after, .history__button:active:after {
  border-color: rgba(51, 177, 133, 0.5);
}

.history__button:hover:before, .history__button:focus:before, .history__button:active:before {
  border-color: rgba(51, 177, 133, 0.2);
}

.history__button.active {
  background: #33b185;
  color: #fff;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.history__button.active:after {
  border-color: rgba(51, 177, 133, 0.5);
}

.history__button.active:before {
  border-color: rgba(51, 177, 133, 0.2);
}

.history__main-title {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-weight: 700;
}

.history__text {
  margin-top: 50px;
  color: rgba(204, 209, 221, 0.8);
  font-size: 15px;
  font-weight: 100;
  display: none;
}

.history__text.active {
  display: block;
}

.main-map {
  margin-top: 60px;
}

.land {
  fill: #ccd1dd;
  fill-opacity: 1;
  stroke: #fff;
  stroke-opacity: 1;
  stroke-width: 0.5;
  -webkit-transition: .2s;
  transition: .2s;
}

.active-land {
  fill: #808caa;
}

.active-land:hover {
  fill: #288967;
  stroke: #288967;
  cursor: pointer;
}

.maps {
  padding: 40px 0;
}

.maps-title {
  margin-bottom: 60px;
}

.pink {
  shape-rendering: crispEdges;
  fill: #288967;
}

#maps-content {
  overflow: hidden;
  position: relative;
}

.map-content {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#maps-content.map-content {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

#maps-content.active {
  overflow: auto;
  position: relative;
}

#maps-content.active .map-content {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

#map-title {
  margin-top: 30px;
  color: #fff;
}

#map-content {
  margin-top: 10px;
  padding: 0;
}

#map-content li {
  list-style: none;
}

#map-content li a {
  color: #33b185;
}

#map-data {
  display: none;
  width: 300px;
  margin-left: -150px;
  height: 200px;
  position: absolute;
  background: #393d45;
  border: 3px solid #393d45;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#map-data:after {
  content: '';
  display: block;
  position: absolute;
  top: -13px;
  left: 140px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #393d45 transparent;
}

#map-data__close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: #d4495a;
  color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-center: center;
  outline: none;
}

#map-data__close:hover {
  background: #bd2d3e;
  -webkit-transform: scale(1.2) rotate(360deg);
      -ms-transform: scale(1.2) rotate(360deg);
          transform: scale(1.2) rotate(360deg);
}

#map-data__close i {
  line-height: 1px;
}

#canvas {
  position: absolute;
  /*background: rgba(221, 238, 238, 0.25);*/
}

.headings__box {
  display: inline-block;
  width: 100%;
  max-width: 250px;
  height: 190px;
  padding: 25px 0px;
  border: 1px solid transparent;
  color: #5d626e;
}

.headings__box:hover, .headings__box:focus {
  text-decoration: none;
  color: #5d626e;
  border: 1px solid #8c8c8c;
}

.chat-modal {
  top: 19px;
}

.chat-modal .modal-dialog {
  width: 100%;
  max-width: 1533px;
}

.chat-modal .modal-header {
  border-bottom: 1px solid #cccccc;
}

.chat-modal .modal-body {
  padding: 0;
}

.chat-modal .chat-modal__column-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.chat-modal .chat-modal__column-1 {
  width: 400px;
  border-right: 1px solid #cccccc;
}

.chat-modal .chat-modal__column-2 {
  width: -webkit-calc(100% - 400px);
  width: calc(100% - 400px);
  padding: 15px;
}

.chat-modal .left-chats-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat-modal .left-chats-list h4 {
  padding-left: 20px;
}

.chat-modal .left-chats-list li a {
  margin-right: 0px;
  border: none;
  padding: 10px 0;
  border-bottom: 1px solid #cccccc;
}

.chat-modal .left-chats-list .active {
  background: #ededed;
}

.chat-modal .left-chats-list .active a,
.chat-modal .left-chats-list .active a:hover,
.chat-modal .left-chats-list .active a:focus {
  color: #555;
  cursor: default;
  background: none;
  border: none;
  border-bottom: 1px solid #cccccc;
}

.chat-modal .left-chat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-modal .left-chat__photo {
  background-size: cover;
  background-position: center center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.chat-modal .left-chat__right {
  overflow: hidden;
}

.chat-modal .left-chat__name {
  text-transform: uppercase;
  color: #212123;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
}

.chat-modal .left-chat__massege {
  color: #6b6b72;
  max-height: 36px;
  font-size: 14px;
  line-height: 20px;
}

.single-chat-header {
  position: absolute;
  top: -56px;
  left: 399px;
  border-left: 1px solid #cccccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-chat-header__name {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
}

.single-chat-header__photo {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-size: cover;
  background-position: center center;
  position: relative;
  top: -2px;
  margin-left: 20px;
}

.chat-messages {
  position: relative;
  display: block;
  overflow-y: scroll;
  max-height: 400px;
}

.single-chat-message {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin-bottom: 30px;
  width: 80%;
}

.single-chat-message.sent {
  left: 20%;
}

.single-chat-message .message-text {
  background: rgba(33, 33, 35, 0.9);
  color: #e6e6e6;
  padding: 15px 10px;
  font-size: 16px;
}

.message-text {
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 15px;
  color: #666666;
}

.received .message-text {
  background: #f2f2f2;
  color: #000;
}

.message-author {
  color: #000;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.message-time {
  position: absolute;
  right: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.unread .message-text {
  border-bottom: 4px solid #33b185;
}

.chat-messages {
  overflow-y: scroll;
}

.chat-message-input {
  width: 100%;
  display: block;
}

.chat-message-input textarea {
  display: block;
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  margin: 0 auto;
  border: 3px solid #cccccc;
  height: 150px;
  padding: 20px;
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 15px;
  color: #666666;
}

.chat-message-input textarea:focus, .chat-message-input textarea:active {
  border: 3px solid #33b185;
  outline: none;
}

.chat-message-input button {
  border: none;
  background: #33b185;
  -webkit-border-radius: 0;
          border-radius: 0;
  padding: 7px 25px;
  font-size: 16px;
  margin: 1% 0;
}

.chat-message-input button:hover, .chat-message-input button:visited, .chat-message-input button:focus, .chat-message-input button:active {
  outline: none;
  background: #288967;
}

.badge.chat-total-messages-count {
  background-color: #33b185;
  padding-top: 4px;
}

.features {
  text-align: center;
  margin-top: 20px;
}

.features__input {
  display: block;
  width: 100%;
  text-align: left;
  padding: 20px;
  border: 1px solid #a6a6a6;
  background: transparent;
}

.features__btn {
  padding: 15px 30px;
  background: #33b185;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #33b185;
  color: #fff;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

.features__btn:hover, .features__btn:active, .features__btn:focus {
  background: #288967;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .features__btn {
    padding: 10px 30px;
  }
}

.features__minitext {
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  font-family: ProximaNova;
  font-weight: 100;
}

.features__wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.features__wrapper-mini {
  max-width: 440px;
}

.features__text {
  text-transform: uppercase;
  font-family: ProximaNova;
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
}

.partners__wrapper {
  background-image: url(/img/partners_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 120px;
}

.reviews {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.reviews:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.reviews:nth-child(even) .reviews__text {
  margin-right: 3%;
}

.reviews:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.reviews:nth-child(odd) .reviews__text {
  margin-left: 3%;
}

.reviews__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 70px 0px 0px 0px;
}

.reviews__img {
  width: 47%;
}

.reviews__img img {
  max-width: 100%;
}

.reviews__text {
  margin-top: 20px;
  width: 50%;
}

@media (max-width: 1200px) {
  .top-nav__link {
    padding: 20px 25px;
  }
  .middle-nav__link {
    padding: 30px;
  }
  .comp__image {
    max-width: 600px;
  }
  .comp__text {
    width: 160px;
  }
  .comp__text-1, .comp__text-2, .comp__text-3 {
    left: -0px;
  }
  .comp__text-4, .comp__text-5, .comp__text-6 {
    right: -0px;
  }
  .comp__text-1,
  .comp__text-4 {
    top: -20px;
  }
  .comp__text-2,
  .comp__text-5 {
    top: 104px;
  }
  .comp__text-3,
  .comp__text-6 {
    top: 239px;
  }
  .s6__phone {
    margin-left: -30px;
  }
  .video__body {
    height: 220px;
  }
  .video {
    padding: 6px;
  }
  .video__footer {
    font-size: 14px;
  }
  .video__date {
    left: 4px;
  }
}

@media (max-width: 991px) {
  .logo_gofriends {
    width: 100%;
    max-width: 251px;
  }
  .middle-nav__link {
    padding: 15px;
  }
  .s1 {
    padding: 20px 0 40px;
  }
  .product-cart {
    width: 50%;
  }
  .comp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comp__text {
    position: relative;
    top: 0;
    left: auto;
    right: auto;
    width: auto;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
  }
  .comp__title {
    text-align: center;
  }
  .comp .comp__text-2 .comp__title {
    color: #33b185;
  }
  .comp__image {
    display: none;
  }
  .comp__supertitle {
    text-align: center;
  }
  .comp__supertitle br {
    display: none;
  }
  .s5__item {
    padding: 0 15px;
  }
  .s6__item-title {
    font-size: 16px;
  }
  .s6__item-text {
    font-size: 14px;
  }
  .s6__phone {
    margin-left: -69px;
  }
  .video {
    padding: 8px;
    margin-bottom: 30px;
  }
  .s10__input {
    width: auto;
  }
  .social-login-container {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .social-login-button {
    display: inline-block;
    width: 33%;
    margin: 0;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: inherit;
  }
  .sp__benefit {
    width: 50%;
  }
  .catalog-s1__image-wrapper {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__wrapper {
    display: block;
  }
  .header__wrapper .align-right,
  .header__wrapper .align-left {
    text-align: center;
  }
  .s1-form {
    margin-right: 0;
  }
  .logo_gofriends {
    margin-top: 10px;
  }
  .form__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15px;
  }
  .s1-form__input {
    width: 100%;
  }
  .s1__button {
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }
  .middle-nav__item {
    display: inline-block;
    width: 30%;
  }
  .middle-nav__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 16px;
  }
  .middle-nav__image {
    margin-bottom: 10px;
  }
  .s2__wrapper {
    display: block;
    text-align: center;
  }
  .s2__link {
    width: 49%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 30px 16px;
  }
  .product-cart {
    width: 100%;
  }
  .product-cart__body-left {
    width: 55%;
  }
  .product-cart__body-right {
    width: 45%;
  }
  .s5__title {
    margin: 20px 0;
  }
  .s6 .align-right {
    text-align: left;
  }
  .s6__left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .s6__left .s6__item-icon {
    margin-right: 20px;
    margin-left: 0;
  }
  .s6__phone {
    margin-left: -34px;
    max-width: 230px;
    margin-top: -60px;
  }
  .s8__right {
    right: 50%;
    top: auto;
    bottom: -60px;
    -webkit-transform: translate3d(110%, 0, 0);
            transform: translate3d(110%, 0, 0);
  }
  .s8__left {
    left: 50%;
    top: auto;
    bottom: -60px;
    -webkit-transform: translate3d(-110%, 0, 0);
            transform: translate3d(-110%, 0, 0);
  }
  .s10__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s10__input {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 10px;
  }
  .prefooter__nav {
    display: block;
  }
  .category__right {
    width: 100%;
  }
  .category__single {
    width: 100%;
  }
  .category__link_big {
    min-height: 275px;
  }
  .gallery {
    margin-top: 10ex;
  }
  .gallery .single-product-s3__gallery {
    width: 100%;
    margin: 0;
  }
  .gallery .single-product-s3__gallery-wrapper a {
    width: 50%;
  }
  .single-product-s1__wrapp {
    display: block;
  }
  .single-product-s1__img {
    height: auto;
  }
  .social-login-container {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .social-login-button {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    text-align: center;
    max-width: 380px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .phone__wrapper {
    position: relative;
    bottom: inherit;
    right: inherit;
  }
  .sp__benefit {
    width: 100%;
  }
  .single-product-s4__btn-wrapper {
    display: block;
    width: 100%;
  }
  .single-product-s4__button-1, .single-product-s4__button-2, .single-product-s4__button-3 {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .single-product-s4__comment__text-footer {
    display: block;
  }
  .reviews {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .reviews:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .reviews:nth-child(even) .reviews__text {
    margin-right: 0;
  }
  .reviews:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .reviews:nth-child(odd) .reviews__text {
    margin-left: 0;
  }
  .reviews__img {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .reviews__img img {
    max-width: 100%;
  }
  .reviews__text {
    margin-top: 0;
    width: 100%;
  }
  .profile__button {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
  }
  .profile__button-wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media (max-width: 450px) {
  .category__right {
    width: 100%;
  }
  .category__single {
    width: 100%;
  }
  .profile__button {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
  }
  .profile__button-wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .prefooter {
    background: #292c31;
    padding: 30px 10px;
    border-bottom: 1px solid #494e59;
  }
  .sp-objective__send {
    display: block;
    width: 100%;
  }
  .single-product-s4__comment__text-wrapper {
    padding-left: 10px;
  }
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima_nova/Proxima Nova Thin.otf");
  font-weight: 50;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima_nova/Proxima Nova Thin Italic.otf");
  font-weight: 50;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima_nova/Proxima Nova Light.otf");
  font-weight: 100;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima_nova/Proxima Nova Light Italic.otf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima_nova/Proxima Nova Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima_nova/Proxima Nova Regular Italic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima_nova/Proxima Nova Semibold.otf");
  font-weight: 700;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima_nova/Proxima Nova Semibold Italic.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima_nova/Proxima Nova Extrabold.otf");
  font-weight: 900;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/proxima_nova/Proxima Nova Extrabold Italic.otf");
  font-weight: 900;
  font-style: italic;
}

/*# sourceMappingURL=../css/main.css.map */
