
.price-block {
    background: radial-gradient(lighten($main-color, 10%), $main-color);
    padding: 50px 0;
    .container-fluid {
        max-width: 1400px;
    }
    &__title {
        color: $white-color;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 0;
        font-weight: 700;
    }
}
.price {
    &__wrapper{
        margin-bottom: 50px;
    }
    &__item {
        background: lighten($main-color-light, 10%);
        box-shadow: 0 0 10px rgba($black-color, .3);
        border-radius: 3px 3px 0 0;
        transition: .2s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__header {
        text-align: center;
        padding: 25px 10px 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 3px solid transparent;
        border-radius: 3px 3px 0 0;
        h2 {
            margin: 0;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 1px;
            font-weight: 700;
            color: $main-color;
        }
        div {
            margin-top: -12px;
        }
    }
    &__price {
        font-size: 70px;
        font-weight: 100;
        color: $main-color;
    }
    &__currency {
        color: darken($main-color-light, 5%);
        position: relative;
        font-size: 18px;
        top: -34px;
        font-weight: 100;
    }
    &__period {
        color: darken($main-color-light, 5%);
        font-size: 18px;
        font-weight: 100;
    }
    &__body {
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                font-size: 15px;
                color: darken($main-color-light, 30%);
                font-weight: 100;
                text-align: center;
                line-height: 40px;
                &:nth-child(2n) {
                    background: $white-color;
                }
                span {
                    font-weight: 700;
                    color: $main-color;
                }
            }
        }
    }
    &__button {
        @include button($green-color);
        display: block;
        text-align: center;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 34px;
    }
}

.top-price {
    .price__header { border-color: $green-color; }
    .price__body { border-color: $green-color; }
}