@import "index/index";
@import "single-product/single-product";
@import "catalog/catalog";
@import "login/login";
@import "videoblog/videoblog";
@import "profile/profile";
@import "price/price";
@import "how-to-use/how-to-use";
@import "mission/mission";
@import "headings/headings";
@import "chat/chat-modal";
@import "partners/partners";

@media (max-width: 1200px) {
  @import "index/index-max-1200";
}

@media (max-width: 991px) {
  @import "index/index-max-992";
}

@media (max-width: 767px) {
  @import "index/index-max-767";
}

@media (max-width: 450px) {
  .category {
    &__right {
      width: 100%;
    }
    &__single {
      width: 100%;
    }

  }
  .profile{
    &__button{
      display: block;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 10px;
    }
    &__button-wrapper{
      flex-wrap: wrap;
    }
  }
  //.container, .container-fluid, .row {
  //  padding: 0px;
  //  margin: 0px;
  //}
  //.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  //  padding: 0px;
  //  margin: 0px;
  //}
  //.product-cart, .category__single{
  //  padding:0px;
  //}
  //.s9{
  //  padding: 30px 0px;
  //}
  .prefooter {
    background: #292c31;
    padding: 30px 10px;
    border-bottom: 1px solid #494e59;
  }
  .sp-objective__send{
    display: block;
    width: 100%;
  }
  .single-product-s4__comment__text-wrapper {
    padding-left: 10px;
  }

}