.single-product-s1 {
    &__img {
        width:100%;
        max-height:789px;
        overflow-y: auto;
        &-inner {
           width: 100%;
           height: auto;
        }
    }
    &__wrapp {
        display: flex;
        flex-wrap: wrap;
    }
    &__settings {
        background-color: #c8d2df;
        margin-top:18px;
        height:30px;
        &-wrap {
            margin-left:15px;
            display:flex;
            align-items:center;
            height:100%;
            cursor:pointer;
        }
        &-circle {
            width:8px;
            height:8px;
            background-color:$white-color;
            border-radius:50%;
            display:inline-block;
            margin-right:7px;
        }
    }
    background: #eff3f8;
    padding: 60px 0;
    .container-fluid { max-width: 1410px; }
    /****** Style Star Rating Widget *****/
    @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

    label { margin-bottom: 0; }
    .rating { border: none; }

    .rating > input { display: none; }
    .rating > label:before {
        margin-left: 5px;
        font-size: 16px;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }

    .rating > .half:before {
        content: "\f089";
        position: absolute;
    }

    .rating > label {
        color: #ddd;
        float: right;
    }

    /***** CSS Magic to Highlight Stars on Hover *****/

    .rating > input:checked ~ label,
    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label
    { color: #FFD700;  }

    .rating > input:checked + label:hover,
    .rating > input:checked ~ label:hover,
    .rating > label:hover ~ input:checked ~ label,
    .rating > input:checked ~ label:hover ~ label
    { color: #FFED85;  }
}

.sp {
    &__section {
        background-color:#fff;
        padding-left:28px;
        padding-right:28px;
        &_padding {
            padding-top:25px;
            padding-bottom:25px;
        }
        &_features {
            padding: 0;
        }
        &_2 {
            height:297px;
            overflow:auto;
        }
    }
    &__wrapper {
        display:flex;
        flex-wrap: wrap;
        //justify-content: space-between;
    }
    &__header {
        @extend .settings__header;
    }
    &__subtitle {
        @extend .settings__title;
    }
    &__description {
        font-weight: 400;
        color: #4d525f;
        font-size:18px;
    }
    &__transforms {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-single {
            width: 30%;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        &-img {
            max-height: 100px;
        }
        &-title {
            color: #6f7685;
            padding-top: 19px;
            text-align: center;
        }
    }
    &__adversting {
        &-title {
            font-weight: 700;
            color: #393d45;
            text-align: center;
        }
    }
    &__photos {
        background-color: $white-color;
        padding-top: 22px;
    }
    &__support {
        font-size:24px;
        color: #404960;
        font-weight:900;
        padding-left:40px;
        text-transform:uppercase;
        position:relative;
        &:before {
            position:absolute;
            content:"";
            width:22px;
            height:22px;
            left:0;
            top:6px;
            background-repeat:no-repeat;
        }
        &:first-child:before {
            background-image:url('../../img/support-audio.png');
        }
        &:nth-child(2):before {
            background-image:url('../../img/support-safe.png');
        }
    }
    &__features {
        line-height: 60px;
        padding: 0 28px;
        font-weight: 700;
        font-size: 18px;
        color: #393d45;
        &:nth-child(5n+1) {
            background-color: #ffa18c;
        }
        &:nth-child(5n+2) {
            background-color: #ffef66;
        }
        &:nth-child(5n+3) {
            background-color: #8cd5ff;
        }
        &:nth-child(5n+4) {
            background-color: #8ef1cd;
        }
        &:nth-child(5n+5) {
            background-color: #66a4b8;
        }
    }
    &__benefit {
        width: 25%;
        display:flex;
        flex-direction: column;
        margin-top:10px;
        &-avatar {
            width:128px;
            height:128px;
            background-color:#e7ecf3;
            border-radius:50%;
            display:flex;
            align-items:center;
            margin:0 auto;
            justify-content:center;
        }
        &-title {
            margin-left:auto;
            margin-right:auto;
            margin-top:17px;
            text-align:center;
            color:#4d525f;
            font-size:24px;
            font-weight:900;
            max-width:190px;
            flex-basis: 75px;
        }
        &-description {
            color:#6f7685;
            max-width:163px;
            margin:0 auto;
            font-weight:400;
            font-size:18px;

        }
    }
    &__title {
        font-weight: 700;
        color: $main-color;
        font-size: 47px;
        padding-top: 37px;
        margin:0;
    }
    &__category {
        color: $main-color;
        img {
            position: relative;
            margin-top: -6px;
            margin-right: 5px;
        }
        &:hover {
            text-decoration: none;
            color: $red-color;
        }
    }
}

.sp-objective {
    margin-top: 40px;
    &_bottom {
        padding-bottom:35px;
    }
    &__title {
        font-weight: 700;
        text-transform: uppercase;
        color: $main-color;
        font-size: 24px;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }
    &__text {
        color: rgba($main-color, .6);
        ul {
            padding-left: 15px;
            li {
                line-height: 26px;
            }
        }
    }
    &__btn-wrapper {
        display: flex;
        justify-content: center;
    }
    &__send {
        @include button($green-color);
    }

    &__send,
    &__demo {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        img {
            position: relative;
            margin-left: 10px;
        }
    }
    &__demo {
        @include button($red-color);
        display: none;
    }
    &__item__title {
        font-size: 18px;
        font-weight: 700;
        color: $main-color;
        margin-top: 30px;
    }
    &__business {
        text-align: center;
        padding: 10px 0 0;
        font-weight: 100;
        color: rgba($main-color, .6);
    }
    &__online-link {
        display: block;
        color: $main-color;
        font-weight: 700;
        font-size: 24px;
        line-height: 50px;
        transition: .2s;
        span {
            width: 50px;
            text-align: center;
            display: inline-block;
        }
        &:hover {
            color: $red-color;
            text-decoration: none;
        }
    }
}

.sp-card {
    background: rgba($main-color-light, .3);
    padding: 40px;
    margin-top: 60px;
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 25px 0 0;
        border-color: $white-color transparent transparent transparent;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba($main-color, .2);
        padding-top: 30px;
        &:first-child {
            margin-top: 2px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__left {
        margin: 0;
        color: $main-color;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 16px;
    }
    &__right {
        margin: 0;
        color: $main-color;
        font-weight: 900;
        font-size: 16px;
    }
    &__last-row {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        flex-wrap: wrap;
    }
    &__item {
        max-width: 138px;
        max-height: 178px;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    &__image {
        margin-bottom: 20px;
    }
    &__category {
        color: rgba($main-color, .6);
        font-weight: 100;
    }
}

.sp-card-2 {
    @extend .sp-card;
    background: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 2px;
    margin:0;
    
    &:after {
        display: none;
    }
    .sp-card__right {
        font-weight: 100;
        color: rgba($main-color, .6);
    }
}

.single-product-s2 {
    background: $main-color;
    padding: 150px 0;
    &__wrapper {
        text-align: center;
    }
    &__image {
        max-width: 128px;
        height: auto;
        position: relative;
        margin: 0 auto 20px;
    }
    &__title {
        color: rgba($white-color, .8);
        font-size: 14px;
        font-weight: 100;
    }
    .owl-dots {
        text-align: center;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -60px;
    }
    .owl-dot {
        background: $main-color-light;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 3px;
        transition: .2s;
    }
    .owl-dot.active {
        background: $green-color;
    }
}

.sp__video {
    .plyr__play-large {
        padding: 30px;
        background: $green-color;
        box-shadow: 0 0 10px rgba($black-color, .3);
        &:hover {
            background: darken($green-color, 10%);
        }
    }
    .plyr__progress--played,
    .plyr__volume--display {
        color: $green-color;
    }
}

.gallery {
    background-color: $white-color;
}

.single-product-s3 {
    padding: 90px 0;
    background: $white-color;
    .plyr__play-large {
        padding: 30px;
        background: $green-color;
        box-shadow: 0 0 10px rgba($black-color, .3);
        &:hover {
            background: darken($green-color, 10%);
        }
    }
    .plyr__progress--played,
    .plyr__volume--display {
        color: $green-color;
    }
    &__gallery-wrapper {
        display: flex;
        padding: 2px;
        flex-wrap: wrap;
        & a {
            flex-basis: calc(100% / 3);
            padding: 5px;
        }
    }
    &__add {
        flex-basis: calc(100% / 3);
        &-inner {
            border: 2px solid rgba(#33b185, .3);
            cursor: pointer;
            z-index: 5;
            width: 100%;
            flex-basis: 200px;
            height: 320px;
            position: relative;
            &:after {
                position: absolute;
                content: '';      
            }
            &:before {
                position: absolute;
                content: '';
                width: 64px;
                height: 64px;
                right: 0;
                left: 0;
                top: calc(50% - 32px);
                background-image:url('../../img/plus1.png');
                background-repeat: no-repeat;
                margin: 0 auto;
            }
        }
    }
    &__upload {
        position: absolute;
        width: 100%;
        right: 0;
        left: 0;
        bottom: 0;
        cursor: pointer;
        top: 0;
        opacity: 0;
    }
    #gallery {
        position: relative;
    }
    &__gallery {
        background-size: cover;
        background-position: center center;
        width: 100%;
        flex-basis: 200px;
        height: 320px;
    }
}

.single-product-s4 {
    background: $main-color-light;
    padding: 55px 45px;
    &__title {
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0;
    }
    &__form {
        margin-top: 60px;
    }
    &__textarea {
        width: 100%;
        height: 165px;
        border: none;
        border-bottom: 3px solid transparent;
        background: rgba($white-color, .6);
        padding: 30px;
        outline: none;
        transition: .2s;
        &:focus {
            border-color: $main-color;
        }
    }
    &__btn-wrapper {
        width: 100%;
        max-width: 700px;
        display: flex;
        justify-content: space-around;
        position: relative;
        margin: 30px auto 0;
    }
    &__button-1,
    &__button-2,
    &__button-3 {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
    &__button-1 {
        @include button($green-color);
    }
    &__button-2 {
        @include button($main-color);
    }
    &__button-3 {
        @include button($red-color);
    }

    &__comment-wrapper {
        margin-top: 60px;
    }
    &__comment {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    &__comment__image {
        width: 110px;
        height: 110px;
        background-size: cover;
        background-position: center center;
        border-radius: 50%;
    }
    &__comment__text-body {
        color: rgba($main-color, .8);
        font-size: 14px;
    }
    &__comment__text-footer {
        margin-top: 20px;
        color: rgba($main-color, .6);
        font-size: 14px;
        border-bottom: 1px solid rgba($main-color, .1);
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }
}