.catalog-s1 {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: center center;
  .container {
    position: relative;
  }
  &__wrapper {
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__image-wrapper {
    position: absolute;
    top: 40px;
    right: 0;
    width: 557px;
    height: 375px;
    background-size: cover;
    background-position: top center;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: -25px;
      height: 25px;
      background: url('../img/browser.png');
    }
  }
  &__title {
    color: $white-color;
    font-weight: 700;
    font-size: 50px;
    margin: 0;
  }
  &__text {
    color: rgba($white-color, .8);
    font-size: 18px;
    font-weight: 100;
    line-height: 26px;
    margin: 30px 0;
  }
  &__link {
    @include button($green-color);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    max-width: 200px;
  }
}

.catalog-s2 {
  background: $white-color;
  padding: 40px 0 30px;
  &__title {
    text-align: center;
    text-transform: uppercase;
    color: $main-color;
    font-weight: 700;
    font-size: 40px;
  }
  &__column-wrapper {
    display: flex;
    margin-top: 40px;
    flex-direction: row;
  }
  &__left {
    width: 340px;
  }
  &__right {
    width: calc(100% - 340px);
    .product-flex {
      width: 100%;
    }
    .product-cart {
      width: calc(100% / 4);
    }
  }
  &__load-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  &__load {
    @include button($green-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 170px;
  }
}

@media (max-width: 1600px) {
  .catalog-s2__right .product-cart {
    width: calc(100% / 3);
  }
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) and (min-width: 999px) {
  .catalog-s2__right .product-cart {
    //width: calc(100% / 2);
  }
  .product-cart__image {
    height: 200px;
  }
  .product-cart__footer {
    display: block;
  }
  .product-cart__footer-left {
    width: 100%;
  }
  .product-cart__footer-right {
    width: 100%;
  }
  .product-cart__body-left, .product-cart__body-right {
    padding: 7px 4px;
  }
  .product-cart__body{
    display: block;
    //min-height: 56px;
    text-align: center;
  }

}

@media (max-width: 998px) {
  .catalog-s2__right .product-cart {
    width: calc(50%);
  }
  .sp-card__right{
    text-align: right;
  }
  //.product-cart__image {
  //    height: 350px;
  //}
}

@media (max-width: 900px) {
  .catalog-s2__right .product-cart {
    width: calc(100%);
  }
  //.product-cart__image {
  //    height: 350px;
  //}
}

.filters {
  padding-right: 55px;
  padding-left: 15px;
  &__title {
    font-size: 24px;
    font-weight: 700;
    color: $main-color;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  &__items-wrapper {
    padding-left: 0;
    transition: all .5s;
    // transform:translateY(-100%);
    list-style: none;
  }
  &__group {
    position: relative;
  }
  // &__group-show {
  //     overflow:hidden;
  // }
  &__group__title {
    font-weight: 700;
    font-size: 20px;
    margin: 20px 0;
    padding-top: 20px;
    border-top: 3px solid rgba($main-color-light, .8);
  }
  &__group__toggle {
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: 0;
    top: 17px;
    border: 2px solid #595f6b;
    width: 20px;
    height: 20px;
    &_active {
      transform: rotate(180deg);
    }
  }
  &__item {
    display: block;
  }
  &__link {
    display: block;
    padding: 7px 0;
    color: $green-color;
    filter: grayscale(1);
    transition: .2s;
    &:hover {
      filter: grayscale(0);
      color: $green-color;
      text-decoration: none;
    }
  }
  &__image-wrapper {
    display: inline-block;
    width: 30px;
    text-align: center;
  }
  &__image {
    margin-right: 5px;
  }
}

@media (max-width: 650px) {
  .product-cart__image {
    //height: 200px;
  }
  .catalog-s2__column-wrapper {
    display: block;
    width: 100%;
  }
  .catalog-s2__left, .catalog-s2__right {
    display: block;
    width: 100%;
  }
  .filters {
    padding-left: 15px;
    padding-right: 15px;
  }
}

// =========================== Range Slider ===========================

.irs.js-irs-0.irs-with-grid {
  margin-top: 20px;
}

.irs-line {
  height: 4px;
  top: 33px;
  background: $main-color-light;
  border: none;
  border-radius: 0;
}

.irs-bar {
  height: 4px;
  top: 33px;
  border: none;
  background: $green-color;
}

.irs-slider {
  top: 25px;
  width: 20px;
  height: 20px;
  border: none;
  background: $green-color;
  border-radius: 27px;
  box-shadow: none;
  cursor: pointer;
  transition: background .2s;
  &:hover, &:active {
    background: darken($green-color, 10%);
  }
}

.irs-from, .irs-to, .irs-single {
  color: $main-color;
  font-size: 12px;
  line-height: 1.3;
  padding: 3px 7px;
  background: $main-color-light;
  border-radius: 0;
  transform: translateY(-5px);
}